<template>
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid px-5">
        <router-link class="navbar-brand text-decoration-none" :to="{ name: 'home' }">
            <img src="/frontend/images/logo_umroh.png" alt="Logo Umroh">
        </router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <!-- <ul class="nav nav-tabs "> -->
                    <li class="nav-item" :class="{ 'active' : $route.path == '/admin'}">
                        <router-link class="nav-link" :to="{ name: 'dashboard' }">Dashboard <span class="sr-only">(current)</span></router-link>
                    </li>
                    <li class="nav-item" :class="{ 'active' : $route.path == '/admin/user/'}">
                        <router-link class="nav-link" :to="{ name: 'user.data' }">User</router-link>
                    </li>
                    <li class="nav-item" :class="{ 'active' : $route.path == '/admin/umroh-package/'}">
                        <router-link class="nav-link" :to="{ name: 'umroh-package.data' }">Paket Umroh</router-link>
                    </li>
                    <li class="nav-item" :class="{ 'active' : $route.path == '/admin/gallery/'}">
                        <router-link class="nav-link" :to="{ name: 'gallery.data' }">Galeri Umroh</router-link>
                    </li>
                    <li class="nav-item" :class="{ 'active' : $route.path == '/admin/bank-account/'}">
                        <router-link class="nav-link" :to="{ name: 'bank-account.data' }">Rekening Bank</router-link>
                    </li>
                    <li class="nav-item" :class="{ 'active' : $route.path == '/admin/transaction/'}">
                        <router-link class="nav-link" :to="{ name: 'transaction.data' }">Transaksi</router-link>
                    </li>
                    <li class="nav-item" :class="{ 'active' : $route.path == '/admin/payment/'}">
                        <router-link class="nav-link" :to="{ name: 'payment.data' }">Pembayaran</router-link>
                    </li>
                    <!-- <li class="nav-item dropdown" :class="{ 'active' : $route.path == '/transaction/'}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Transactions
                        </a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <router-link class="dropdown-item" :to="{ name: 'transactions.data' }">List</router-link>
                            <router-link class="dropdown-item" :to="{ name: 'transaction.add' }">Add New</router-link>
                        </div>
                    </li> -->
                <!-- </ul> -->
            </ul>

            <ul class="navbar-nav flex-row ml-auto d-flex">
                <!-- start dropdown notifikasi -->
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell-o d-inline-flex">
                            <small class="">
                                <!-- menghitung jumlah notifikasi yg ada -->
                                <sup class="d-inline-flex m-n2 badge badge-success">{{ notifications.length }}</sup>
                            </small>
                        </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right clearfix bg-info" style="width: 250px;">
                        <li class="m-1 d-flex justify-content-start">
                            <small class="text-white">You have {{ notifications.length }} messages</small>
                        </li>
                        <div style="overflow-y: scroll; max-height: 230px;">
                            <b-list-group style="" v-if="notifications.length > 0">
                                <b-list-group-item v-for="(row, index) in notifications" :key="index" class="p-1">
                                    <a href="javascript:void(0)" @click="readNotif(row)" class="text-decoration-none text-dark">
                                        <div class="pull-left">
                                            <!-- menampilkan foto pengirim -->
                                            <i v-if="row.data.sender_photo">
                                                <img :src="'/storage/users/' + row.data.sender_photo" :width="50" :height="50" :alt="row.data.sender_name" class="rounded-circle">
                                            </i>
                                            <i v-else>
                                                <img :src="'/img/' + 'avatarDefault.png'" :width="50" :height="50" :alt="row.data.sender_name">
                                            </i>
                                        </div>
                                        <div>
                                            <h6 class="my-0 text-info">
                                                <!-- menampilkan nama pengirim -->
                                                {{ row.data.sender_name }}
                                            </h6>
                                            <!-- menampilkan waktu pesan dikirim dari sekarang -->
                                            <small class="text-secondary"><i class="fa fa-clock-o"></i> {{ row.created_at | formatDate }} </small>
                                            <p class="my-0" >{{ row.data.payment.amount | currency }}</p>
                                        </div>
                                    </a>
                                </b-list-group-item >
                            </b-list-group>
                        </div>
                    </div>
                </li>
                <!-- end dropdown notifikasi -->
                <!-- start dropdown user -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span v-if="authenticated.photo">
                            <img :src="'/storage/users/' + authenticated.photo" :width="23" :height="23" :alt="authenticated.name" class="rounded-circle">
                        </span>
                        <span v-else>
                            <img :src="'/img/' + 'avatarDefault.png'" :width="23" :height="23" :alt="authenticated.name">
                        </span>
                        <span class="hidden-xs">{{ authenticated.name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right clearfix" style="width: 230px;" aria-labelledby="navbarDropdown">
                        <div class="px-2 mt-n2 bg-info d-flex justify-content-center">
                            <div class="mt-2">
                                <h6 class="d-flex justify-content-center">
                                    <i v-if="authenticated.photo">
                                        <img :src="'/storage/users/' + authenticated.photo" :width="80" :height="80" :alt="authenticated.name" class="rounded-circle">
                                    </i>
                                    <i v-else>
                                        <img :src="'/img/' + 'avatarDefault.png'" :width="80" :height="80" :alt="authenticated.name">
                                    </i>
                                </h6>
                                <h6 class="text-center text-white">
                                    {{ authenticated.name }}
                                </h6>
                            </div>
                        </div>
                        <div class="dropdown-divider mt-0"></div>
                        <div class="px-2">
                            <a class="btn btn-outline-info btn-sm float-left" href="#">Profile</a>
                            <a class="btn btn-outline-info btn-sm float-right" href="javascript:void(0)" @click="logout" >Logout</a>
                        </div>
                    </div>
                </li>
                <!-- start end dropdown user -->
            </ul>
        </div>
    </div>
</nav>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import moment from 'moment'
export default {
    computed: {
        ...mapState('user', {
            authenticated: state => state.authenticated
        }),
        ...mapState('notification', {
            notifications: state => state.notifications
        }),
    },
    filters: {
        formatDate(val){
            //mengubah waktu menjadi time ago
            return moment(new Date(val)).fromNow()
        }
    },
    methods: {
        ...mapActions('notification', ['readNotification']),
        readNotif(row){
            // menandai bahwa notifikasi yg diklik sudah di read. 
            this.readNotification({ id: row.id })
            .then(() => {
                //membuka view payment yg diklik berdasarkan notifikasi
                this.$router.push({ name: 'payment.view', params: { id: row.data.payment.id }})
            })
        },
        logout() {
            return new Promise((resolve, reject) => {
                localStorage.removeItem('token') //MENGHAPUS TOKEN DARI LOCALSTORAGE
                localStorage.removeItem('user')
                resolve()
            }).then(()=> {
                //Jika berhasil MEMPERBAHARUI STATE TOKEN
                this.$store.state.token = localStorage.getItem('token') //mengakses store.js untuk mengganti  token local storage menjadi sesuai dg localstorage browser(saat logout) yaitu value ''
                this.$store.state.token = JSON.parse(localStorage.getItem('user'))
                this.$router.push('/login') //redirect ke page login
            })
        }
    }
}
</script>
