<template>
    <div id="" class="wrapper">
        <!-- <div class="content-wrapper">
            <router-view></router-view>
        </div> -->
        <router-view></router-view>
    </div>
</template>

