<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <h5>Edit Transaksi</h5>
            </div>
        </div>
        <div>
            <!-- form yg diload dari form.vue -->
            <transaction-form></transaction-form>
            <div class="form-group">
                <button class="btn btn-primary btn-sm" @click.prevent="submit" :disabled="isLoading">
                    <span v-if="!isLoading" class="fa fa-save"> Update</span>
                    <div v-else-if="isLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import FormTransaction from './Form.vue'
export default {
    name: 'EditTransaction',
    created() {
        //editTransaction() membutuhkan parameter id
        this.editTransaction(this.$route.params.id)
    },
    computed: {
        ...mapState('transaction', {
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapActions('transaction', ['editTransaction', 'updateTransaction']),
        submit() {
            //updateTransaction() membutuhkan parameter id
            this.updateTransaction(this.$route.params.id)
            .then((res) => {
                this.$router.push({ name: 'transaction.data' })
            })
        }
    },
    components: {
        'transaction-form': FormTransaction
    }   
}
</script>
