<template>
    <div>
        <div v-if="errors.message">
            <!-- :show="dismissCount" untuk mendefinisikan berapa detik waktu tampil. di data harus di set waktunya. misal dismissCount: 5 -->
            <b-alert dismissible fade variant="danger" show>
                {{ errors.message }}
            </b-alert>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- KETIKA TOMBOL ADD NEW DITEKAN -->
                <div class="form-group">
                    <!-- alurnya. ketika kata kunci dimasukkan, akan memanggil fungsi onSearchUmrohPackage(). onSearchUmrohPackage() memanggil getUmrohPackage() utk mendapatkan data customer sesuai kata kunci yg diketikkan. -->
                    <!-- data umrohPackage tsb dikirmkan melalui umrohPackages.js kemudian diambil oleh mapState umrohPackages. data mapState umrohPackages diambil oleh :options="umrohPackages.data" utk ditampilkan-->
                    <!-- oleh v-model, data yg dipilih kemudian dimasukkan ke data() order.customer -->
                    <!-- label="title" ini penting. "title" disesuaikan dg key/field yg akan dimunculkan di kolom pencarian -->
                    <v-select @search="onSearchUmrohPackage" :options="umrohPackages.data" v-model="transaction.umroh_package" label="title"  placeholder="Masukkan Kata Kunci" :filterable="false">
                        <template slot="no-options">
                            Masukkan Kata Kunci
                        </template>
                        <template slot="option" slot-scope="option">
                            {{ option.title }}
                        </template>
                    </v-select>
                    <!-- <label for="umroh_package">Paket umroh</label>
                    <input v-model="transaction.umroh_package_id" type="text" class="form-control" placeholder="Paket umroh"> -->
                    <p class="text-danger" v-if="errors.umroh_package_id">{{ errors.umroh_package_id[0] }}</p>
                </div>
            </div>
            <!-- menampilkan data umroh_package yg dipilih -->
            <div class="col-md-6" >
                <!-- v-if="transaction.umroh_package_id != ''" -->
                <!-- ditambahkan [], karena :items merender array. sedangkan data dari transaction.umroh_package bentuknya object -->
                <!-- v-if="this.transaction.umroh_package_id != ''" ini hanya utk mencegah supaya ketika belum terbentuk, element b-table tidak merender transaction.umroh_package -->
                <b-table stacked small responsive="sm" v-if="this.transaction.umroh_package_id != ''" :items="[transaction.umroh_package]" :fields="fieldss">
                    <template v-slot:cell(departure_date)="row">
                        {{ row.item.departure_date | formatDate }}
                    </template>
                    <template v-slot:cell(duration)="row">
                        {{ row.item.duration }} Hari
                    </template>
                    <template v-slot:cell(price)="row">
                        {{ row.item.price | currency }}
                    </template>
                </b-table>
            </div>
            <div class="col-md-12">
                <hr>
                <!-- buttom tambah akan muncul jika filterEmptyInput bernilai false alias tidak ada input yg kosong -->
                <button class="btn btn-warning btn-sm" v-if="filterEmptyInput == false" @click="addItem" data-toggle="tooltip" data-placement="top" title="Tambah item">Tambah member</button>
                <div class="pt-2">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>VISA</th>
                                <th>DOE Passport</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(row, index) in transaction.transaction_details" :key="index">
                                <td>
                                    <!-- ini masih keliru -->
                                    <input type="email" v-model="row.user.email" class="form-control" :class="{'is-invalid' : errors['transaction_details.' + index + '.user.email']}" placeholder="Email">
                                </td>
                                <td>
                                    <select v-model="row.is_visa" class="form-control" :class="{'is-invalid' : errors['transaction_details.' + index + '.is_visa']}">
                                        <option :value="null">-- Pilih --</option>
                                        <option :value="1">30 Hari</option>
                                        <option :value="0">Tidak</option>
                                    </select>
                                </td>
                                <td>
                                    <input v-model="row.doe_passport" type="text" class="form-control datepickerr" :class="{'is-invalid' : errors['transaction_details.' + index + '.doe_passport']}" placeholder="DOE Passport" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" @click="removeItem(index)" data-toggle="tooltip" data-placement="top" title="Hapus item"><i class="fa fa-trash"> Hapus</i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import _ from 'lodash'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'
import moment from 'moment'

export default {
    name: 'FormTransaction',
    created(){

    },
    data(){
        return {
            fieldss: [
                { key: 'title', label: 'Judul', sortable: true },
                { key: 'location', label: 'Lokasi', sortable: true },
                { key: 'featured_event', label: 'Event Spesial', sortable: false },
                { key: 'departure_date', label: 'Keberangkatan' },
                { key: 'duration', label: 'Waktu', sortable: true },
                { key: 'price', label: 'Harga', sortable: true },
            ],
        }
    },
    computed: {
        ...mapState(['errors']),  //mengambil mapstate error dari store.js
        ...mapState('transaction', {
            transaction: state => state.transaction //mengambil dan mengisi state transaction dari transaction.js
        }),
        ...mapState('transaction', {
            umrohPackages: state => state.umrohPackages
        }),
        ...mapState('transaction', {
            isLoading: state => state.isLoading
        }),

        //melakukan filter transaksi yg masih kosong
        filterEmptyInput(){
            // if(this.transaction.umroh_package_id != '') hanya utk mencegah supaya ketika belum terbentuk, variabel arrayLength tidak menjalankan transaction.transaction_details.
            if (this.transaction.umroh_package_id != '') {
                let arrayLength = this.transaction.transaction_details.length
                let lastElement = this.transaction.transaction_details[arrayLength -1]

                // mengembalikan nilai true jika ada salah satu field input yang belum diisi
                return lastElement.user.email == '' || lastElement.is_visa == null || lastElement.doe_passport == ''
            }
        },
        
    },
    methods: {
        ...mapMutations('transaction', ['CLEAR_FORM']), //memanggil mutation CLEAR_FORM dari transaction.js utk keperluan fungsi destroyed()
        ...mapActions('transaction', ['updateTransaction']),
        ...mapActions('umrohPackage', ['getUmrohPackageWithoutPage']),

        //method ini berjalan ketika pencarian data customer pada v-select
        onSearchUmrohPackage(search, loading){
            //request data berdasarkan keyword yg diminta
            this.getUmrohPackageWithoutPage({
                search: search,
                loading: loading
            })
        },
        //ketika tombol tambah ditekan, akan menambhakn item baru
        addItem(){
            //jika filter transaksi yg masih kosong = 0 (tidak ada) alias tidak ada transaksi yg kosong
            if(this.filterEmptyInput == false){
                this.transaction.transaction_details.push(
                    { user: { email : '' }, is_visa: '', doe_passport: '' }
                )
            }
        },
        //menghapus item berdasarkan index data
        removeItem(index){
            if(this.transaction.transaction_details.length > 1){
                this.transaction.transaction_details.splice(index, 1)
            }
        },
    },
    //ketika halaman form ditinggalkan
    destroyed() {
        //form dibersihkan
        this.CLEAR_FORM()
    },
    filters: {
        //nilai ini akan dikirmkan ke html yg memuat method formatDate
        formatDate(val){
            //memformat tanggal sesuai tanggal indonesia
            return moment(new Date(val)).format('DD-MM-YYYY')
        }
    },
    components: {
        'v-select': vSelect
    }
}
</script>
