<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1" >
                <!-- <router-link :to="{ name: 'transaction.add' }" class="btn btn-primary btn-sm">Tambah</router-link> -->
                <p disabled></p>
            </div>
            <div class="p-2">
                <select v-model="filter_status" class="form-control">
                    <option value="6">Semua</option>
                    <option value="0">In cart</option>
                    <option value="1">Pending</option>
                    <option value="2">Success</option>
                    <option value="3">Failed</option>
                    <option value="4">Cancel</option>
                    <option value="5">Completed</option>
                </select>
            </div>
            <div class="p-2">
                <input type="text" class="form-control" placeholder="Cari customer..." v-model="search">
            </div>
        </div>

        <div>
            <!-- :items="transactions.data" mengambil dari computed mapState -->
            <!-- items berisi data user yg akan di render ke table, sedangakn fields akan menjadi nama header pd table -->
            <b-table hover :items="transactions.data" :fields="fieldss" :tbody-transition-props="transProps" primary-key="index">
                <!-- template hanyalah optional saja untuk menginginkan tampilan sesuai yg diharapkan -->
                <!-- :fields="fields" menampilkan label, sedangkan v-slot:cell(image)="row" menampilkan key  -->
                <template v-slot:cell(index)="row">
                    {{ row.index + 1 }}
                </template>
                <template v-slot:cell(umroh_package)="row">
                    {{ row.item.umroh_package.title }}
                </template>
                <template v-slot:cell(user)="row">
                    {{ row.item.user.name }}
                </template>
                <template v-slot:cell(additional_visa)="row">
                    {{ row.item.additional_visa | currency }}
                </template>
                <template v-slot:cell(total)="row">
                    {{ row.item.total | currency }}
                </template>
                <template v-slot:cell(status)="row">
                    <!-- template status hanya untuk menampilkan tulian proses, diterima, ditolak. jika tidak diberi template akan menampilkan nilai sesuai field yg dikirimkan yaitu 0, 1 atau 2 -->
                    <span class="badge badge-warning" v-if="row.item.status == 0">In cart</span>
                    <span class="badge badge-primary" v-else-if="row.item.status == 1">Pending</span>
                    <span class="badge badge-success" v-else-if="row.item.status == 2">Success</span>
                    <span class="badge badge-danger" v-else-if="row.item.status == 3">Failed</span>
                    <span class="badge badge-dark" v-else-if="row.item.status == 4">Canceled</span>
                    <span class="badge badge-dark" v-else-if="row.item.status == 5">Completed</span>
                </template>
                <template v-slot:cell(actions)="row">
                    <!-- utk edit pakai a href sesuai link dari router yg diberikan -->
                    <router-link :to="{ name: 'transaction.view', params: {id: row.item.id} }" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Lihat detail transaksi"><i class="fa fa-eye"></i></router-link>
                    <router-link :to="{ name: 'transaction.edit', params: {id: row.item.id} }" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Edit transaksi"><i class="fa fa-pencil"></i></router-link>
                    <!-- utk hapus pakai button -->
                    <!-- <button class="btn btn-danger btn-sm" @click="deleteTransaction(row.item.id)" data-toggle="tooltip" data-placement="top" title="Hapus transaksi"><i class="fa fa-trash"></i></button> -->
                </template>
            </b-table>
            <!-- pagination -->
            <div class="row">
                <div class="col-md-6">
                    <!-- "transactions.data" mengambil dari computed mapState -->
                    <p v-if="transactions.data">
                        <i class="fa fa-list-ul"></i> 
                        <!-- meta berasal dari backend, bagian pagination -->
                        {{ transactions.data.length }} item dari {{ transactions.meta.total }} total data
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <b-pagination
                        v-model="page"
                        :total-rows="transactions.meta.total"
                        :per-page="transactions.meta.per_page"
                        aria-controls="transactions"
                        v-if="transactions.data && transactions.data.length > 0"
                        ></b-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
export default {
    name: 'DataTransaction',
    created() {
        // sebelum component diload, request data dari server
        // this.$store.dispatch('transaction/getTransactions') //jika tidak pakai helper mapActions, pakainya ini
        // fungsi ini didapat dari methods mapActions('transaction', ['getTransactions'])
        this.getTransactions({
            search: this.search,
            status: this.filter_status
        })
    },
    data() {
        return {
            fieldss: [
                { key: 'index', label: 'No.' }, //index is virtual column. doesn't exist in items
                { key: 'umroh_package', label: 'Paket Umroh', sortable: true },
                { key: 'user', label: 'Customer', sortable: true },
                { key: 'additional_visa', label: 'Visa', sortable: true },
                { key: 'total', label: 'Total', sortable: true },
                { key: 'status', label: 'Status', sortable: true },
                { key: 'actions', label: 'Aksi' } //actions is virtual column
            ],
            transProps: { name: 'flip-list' }, //nama transisi. memanggil class css di style.css
            search: '',
            filter_status: 6 //0: in_cart, 1: pending, 2: success, 3: failed, 4: cancel, 5: completed
        }
    },
    computed: {
        ...mapState(['success']),
        ...mapState('transaction', { //memanggil state transactions di product.js untuk menampilkan list transactions
            transactions: state => state.transactions
        }),
        page: {//code page yg ini untuk mengubah nilai page yg diiinputkan oleh user
            get() {
                //mengambil value page di state transaction.js
                return this.$store.state.transaction.page //$store.state.namamodul.namastate
            },
            set(val) {
                //mengubah value page di mutation transaction.js apabila ada perubahan page di state transaction.js
                this.$store.commit('transaction/SET_PAGE', val)
            }
        }
    },
    watch: {
        page () { //code page yg ini untuk menampilkan ke user
            //jika value berubah maka akan meminta data dari server
            this.getTransactions({
                search: this.search,
                status: this.filter_status
            })
        },
        search() {
            this.getTransactions({
                search: this.search,
                status: this.filter_status
            })
        },
        //jika filter_status di data() berubah
        filter_status(){
            this.getTransactions({
                search: this.search,
                status: this.filter_status
            })
        }
    },
    mounted(){
        this.makeToast('success') //menangkap notif success dari add dan update
    },
    methods: {
        ...mapActions('transaction', ['getTransactions', 'removeTransaction']),
        makeToast(variantt = null) {
            if(this.success != null){
                this.$bvToast.toast(this.success.message, {
                    title: this.success.status,
                    variant: variantt,
                    solid: true,
                    autoHideDelay: 7000,
                })
            }
        },
        //ketika tombol hapus di klik, akan menjalankan perintah berikut
        deleteTransaction(id){
            //menampilkan jendela konfirmasi
            this.$swal({
                title: 'Kamu Yakin?',
                text: "Tindakan ini akan menghapus secara permanent!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Lanjutkan!',
                cancelButtonText: 'Batal'
            }).then((result) => {
                //jika disetujui akan ada value: true. jika di CANCEL akan menghasilkan dismiss: "cancel
                if(result.value){
                    //this.$store.dispatch('outlet/removeProduct', id) //jika tidak pakai helper mapActions, pakainya ini. dispatch berarti mengakses ke action
                    this.removeTransaction(id).then(() => this.makeToast('warning'))
                }
            })
        }
    },
    destroyed(){
        //menghapus state success di store.js saat form ini ditutup
        this.$store.commit('SET_SUCCESS', null) //mengakses mutations di root module
    }
}
</script>
