<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <h5>Detail Transaksi</h5>
            </div>
            <!-- status 1 berarti masih pending (sudah checkout, tp belum lunas bayar) -->
            <div class="p-2 float-right" v-if="transaction.status == '1'"> 
                <router-link class="btn btn-primary btn-sm" :to="{ name: 'payment.add', params: { id: this.$route.params.id } }" data-toggle="tooltip" data-placement="top" title="Konfirmasi pembayaran"><i class="fa fa-money"> Bayar</i></router-link>
            </div>
        </div>
        <div>
            <template >
                <table class="table table-bordered">
                    <tr>
                        <th>Paket umroh</th>
                        <td v-if="transaction.umroh_package">{{ transaction.umroh_package.title }}</td>
                    </tr>
                    <tr>
                        <th>Pembeli</th>
                        <td>{{ transaction.user.name }}</td>
                    </tr>
                    <tr>
                        <th>Visa</th>
                        <td>{{ transaction.additional_visa | currency }}</td>
                    </tr>
                    <tr>
                        <th>Total Transaksi</th>
                        <td>{{ transaction.total | currency }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            <span class="badge badge-warning" v-if="transaction.status == 0">In cart</span>
                            <span class="badge badge-primary" v-else-if="transaction.status == 1">Pending</span>
                            <span class="badge badge-success" v-else-if="transaction.status == 2">Success</span>
                            <span class="badge badge-danger" v-else-if="transaction.status == 3">Failed</span>
                            <span class="badge badge-dark" v-else-if="transaction.status == 4">Canceled</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Pembelian</th>
                        <td>
                            <table class="table table-bordered">
                                <tr>
                                    <th>No.</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Visa</th>
                                    <th>DOE Passport</th>
                                </tr>
                                <tr v-for="(item, index) in transaction.transaction_details" :key="index">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ item.user.name }}</td>
                                    <td>{{ item.user.address }}</td>
                                    <td>{{ item.is_visa ? '30 Hari' : 'Tidak' }}</td>
                                    <td>{{ item.doe_passport | formatDate }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </template>
        </div>
        <div class="d-flex mb-3 mt-1"  v-if="transaction.status != '0'">
            <div class="p-2 flex-grow-1">
                <h5>Riwayat Pembayaran</h5>
            </div>
        </div>
        <div>
            <b-table :items="transaction.payments" :fields="fields_payment" primary-key="index">
                <template v-slot:cell(index)="row">
                    {{ row.index + 1 }}
                </template>
                <template v-slot:cell(date)="row">
                    {{ row.item.date | formatDate }}
                </template>
                <template v-slot:cell(amount)="row">
                    {{ row.item.amount | currency }}
                </template>
                <template v-slot:cell(type)="row">
                    <span class="badge badge-info" v-if="row.item.type == 'transfer'">Transfer</span>
                    <span class="badge badge-primary" v-else-if="row.item.type == 'cash'">Tunai</span>
                </template>
                <template v-slot:cell(is_valid)="row">
                    <span class="badge badge-warning" v-if="row.item.is_valid == 'pending'">Pending</span>
                    <span class="badge badge-success" v-else-if="row.item.is_valid == 'valid'">Valid</span>
                    <span class="badge badge-dark" v-else-if="row.item.is_valid == 'not_valid' ">Tidak Valid</span>
                </template>
            </b-table>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import moment from 'moment'
export default {
    name: 'ViewTransaksi',
    created() {
        this.viewTransaction(this.$route.params.id).then() //memakai view transaction untuk menampilkan data
    },
    data() {
        return {
            fields_payment: [
                { key: 'index', label: 'No', sortable: false },
                { key: 'date', label: 'Tanggal', sortable: false },
                { key: 'amount', label: 'Jumlah', sortable: false },
                { key: 'type', label: 'Metode', sortable: false },
                { key: 'is_valid', label: 'Status', sortable: false },
            ],
        }
    },
    computed: {
        ...mapState(['errors']),
        ...mapState('transaction', {
            transaction: state => state.transaction,
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapActions('transaction', ['getTransactions', 'viewTransaction']),

    },
    filters: {
        //nilai ini akan dikirmkan ke html yg memuat method formatDate
        formatDate(val){
            //memformat tanggal sesuai tanggal indonesia
            return moment(new Date(val)).format('DD-MM-YYYY')
        }
    }
}
</script>
