main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .maxWidth {
    max-width: 300px;
  }

  .minWidth {
    min-width: 220px;
  }

  .maxWidthImg {
    max-width: 510px;
  }

  .maxHeightImg {
    max-height: 340px;
  }

  table .flip-list-move {
    transition: transform 1s;
    }

/* karena di file css utama (main.css) ada perubahan mengenai header yg berpengaruh terhadap b-toast maka kita edit lagi */
.toast-header {
  background-image:none;
  margin-top: 0px;
}

.toast {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-style: solid;
  border-top-width: 0px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
