<template>
<main>
    <div class="content-wrapper">
        <app-header/>
        <section class="section-details-header">

        </section>
        <section class="section-bank-content">
            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    Home
                                </li>
                                <li class="breadcrumb-item active">
                                    Daftar Rekening Bank
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 pl-lg-0">
                        <div class="card card-banks">
                            <div class="row justify-content-center">
                                <div v-for="(item, index) in bankAccounts.data" :key="index">
                                    <div class="col-sm-6 col-md-6 col-lg-4">
                                        <div class="card card-bank-detail text-center">
                                            <div class="">
                                                <!-- <img :src="'/storage/bank_accounts/' + item.image" :height="80" :alt="item.name" class="mb-4"> -->
                                                <a :href="'/storage/bank_accounts/' + item.image" data-fancybox data-height="200" data-small-btn="false">
                                                    <img :src="'/storage/bank_accounts/' + item.image" :height="80" :alt="item.name">
                                                </a>
                                                <h4 class="mb-4 mt-2">{{ item.name }}</h4>
                                                <hr>
                                                <p class="bank-account-number mb-0">
                                                    {{ item.account_number }}
                                                    <!-- <strong>{{ item.account_number }}</strong> -->
                                                </p>
                                                <p class="bank-account-name">
                                                    {{ item.account_name }}
                                                    <!-- <strong>{{ item.account_name }}</strong> -->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-footer/>
    </div>
</main>
</template>
<script>
import { mapActions, mapState, mapGetters } from 'vuex';
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

export default {
    name: 'Bank',
    created() {
        this.getBankAccounts();
    },
    data() {
        return {

        }
    },
    computed: {
        ...mapState(['errors']),
        ...mapGetters(['isAuth']), //mengambil getters isAuth dari vuex. didepan ['isAuth'] tidak diberi nama module (store) karena targetnya terletak di root yaitu store.js
        ...mapState('bankAccount', {
            bankAccounts: state => state.bankAccounts
        })
    },
    methods: {
        ...mapActions('bankAccount', ['getBankAccounts']),

    },
    components: {
        'app-header' : Header,
        'app-footer' : Footer,
    },
}
</script>
