<template>
<main>
    <div class="content-wrapper">
        <app-header2 />
        <section class="section-details-header">

        </section>
        <section class="section-details-content">
            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    Paket Umroh
                                </li>
                                <li class="breadcrumb-item">
                                    Detail
                                </li>
                                <li class="breadcrumb-item active">
                                    Checkout
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 pl-lg-0">
                        <div class="card card-details">
                            <template>
                                <h1>Siapa saja yang akan umroh bareng?</h1>
                                <p>
                                    Paket {{ transaction.umroh_package ? transaction.umroh_package.title : '' }}
                                </p>
                                <div class="attendee">
                                    <!-- table-responsive-sm -> saat layar kecil akan responsif -->
                                    <table class="table table-responsive-sm text-center">
                                        <thead>
                                            <tr>
                                                <td>Picture</td>
                                                <td>Name</td>
                                                <td>Visa</td>
                                                <td>Passport</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in transaction.transaction_details" :key="index">
                                                <td>
                                                    <img :src="'https://ui-avatars.com/api/?name=' + item.user.name " height="60px" class="rounded-circle">
                                                    <!-- {{-- {{url('frontend/images/picture_angga@2x.png')}} --}} -->
                                                </td>
                                                <!-- align-middle -> ada space di koordinate y, shg text ada di tengah dalam koordinat y -->
                                                <td class="align-middle">{{ item.user.name }}</td>
                                                <td class="align-middle">{{ item.is_visa == true ? '30 hari' : 'Tidak' }}</td>
                                                <td class="align-middle">{{ Date.parse(item.doe_passport) > Date.now() ? 'Active' : 'Inactive' }}</td>
                                                <td class="align-middle">
                                                    <a href="javascript:void(0)" @click.prevent="remove(item.id)" data-toggle="tooltip" data-placement="top" title="Hapus member">
                                                        <img :src="'/frontend/images/ic_remove@2x.png'" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                            <!-- <tr v-if="transaction.transaction_details.length == 0">
                                                <td colspan="6" class="text-center">
                                                    No Member
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="member mt-3">
                                    <h2>Tambah member</h2>
                                    <!-- vue js gak pakai form gak papa -->
                                    <form class="form-inline" method="" action="">
                                        <!-- sr-only -> screen reader only. hanya akan muncul jika punya tools acccessability utk disabilitas -->
                                        <input v-model="member.email" type="email" class="form-control mb-2 mr-sm-2" placeholder="Email" :class="{'is-invalid' : errors.email}" required>
                                        
                                        <select v-model="member.is_visa" class="custom-select mb-2 mr-sm-2" :class="{'is-invalid' : errors.is_visa}">
                                            <option value="">VISA</option>
                                            <option :value="1">30 Hari</option>
                                            <option :value="0">Tidak</option>
                                        </select>

                                        <div class="input-group mr-sm-2 mb-2" style="width: 170px">
                                            <input v-model="member.doe_passport" type="text" class="form-control datepickerr" :class="{'is-invalid' : errors.doe_passport}" placeholder="DOE Passport" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">
                                        </div>

                                        <button @click.prevent="add(transaction.id)" class="btn btn-add-now mb-2 px-3">
                                            Tambahkan
                                        </button>
                                    </form>
                                    <div>
                                        <ul>
                                            <li v-if="errors.email" class="text-danger">
                                                <small>EMAIL {{ errors.email[0] }}</small>
                                            </li>
                                            <li v-if="errors.is_visa" class="text-danger">
                                                <small>VISA {{ errors.is_visa[0] }}</small>
                                            </li>
                                            <li v-if="errors.doe_passport" class="text-danger">
                                                <small>Date of Expired PASSPORT {{ errors.doe_passport[0] }}</small>
                                            </li>
                                        </ul>
                                    </div>
                                    <h3 class="mt-2 mb-0">Note</h3>
                                    <p class="disclaimer mb-0" id="disclaimer">
                                        Anda hanya bisa menambahkan member yang sudah terdaftar di Umroh.
                                    </p>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-right card-details">
                            <h2>Informasi Order</h2>
                            <table class="trip-information">
                                <tr>
                                    <th width="50%">Member</th>
                                    <td width="50%" class="text-right">
                                        {{ transaction.transaction_details ? transaction.transaction_details.length : '' }} orang
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%">Tambahan VISA</th>
                                    <td width="50%" class="text-right">
                                        {{ transaction.additional_visa  | currency }},00
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%">Harga Umroh</th>
                                    <td width="50%" class="text-right">
                                        {{ transaction.umroh_package ? transaction.umroh_package.price : ''  | currency }},00 / orang
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%">Sub Total</th>
                                    <td width="50%" class="text-right">
                                        {{ transaction.total | currency }},00
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%">Total (+Unique)</th>
                                    <td width="50%" class="text-right text-total">
                                        <span class="text-blue">{{ transaction.total | currency }},</span>
                                        <!-- {{-- mt_rand untuk membuat kode unik --}} -->
                                        <span class="text-orange">00</span>
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <h2>Petunjuk Pembayaran</h2>
                            <p class="payment-instructions" id="payment-instructions">
                                Mohon lunasi pembayaran maks 1 bulan sebelum tanggal keberangkatan
                            </p>
                            <div class="bank">
                                <tr v-for="(row, index) in bankAccounts.data" :key="index">
                                    <div class="bank-item pb-3">
                                        <img :src="'/storage/bank_accounts/' + row.image" :alt="row.image" class="bank-image">
                                        <div class="description">
                                            <h3>{{ row.account_name }}</h3>
                                            <p>
                                                {{ row.account_number }}
                                                <br>
                                                {{ row.name }}
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </tr>
                            </div>
                        </div>
                        <div class="join-container">
                            <a href="javascript:void(0)" @click.prevent="pay(transaction.id)" class="btn btn-block btn-join-now mt-3 py-2" :disabled="isLoading">
                                <span v-if="!isLoading" class=""> Pesan</span>
                                <div v-else-if="isLoading">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                                </div>
                            </a>
                        </div>
                        <div class="text-center mt-3">
                            <!-- yg ini belum -->
                            <a href="javascript:void(0)" @click.prevent="cancel(transaction.id)" class="text-muted">Batalkan Pesanan</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-footer/>
    </div>
</main>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import Header2 from '../components/Header2.vue'
import Footer from '../components/Footer.vue'
import Breadcrumb from '../components/Breadcrumb.vue';

export default {
    name: 'checkout',
    created(){
        this.viewTransaction(this.$route.params.transaction_id)
        this.getBankAccounts()
    },
    data(){
        return {

        }
    },
    computed: {
        ...mapState(['errors']), //mengambil mapstate error dari store.js
        ...mapState('checkout', {
            transaction: state => state.transaction, //mengambil transaction di checkout.js
            member: state => state.member, //mengisi member di checkout.js
            isLoading: state => state.isLoading
        }),
        ...mapState('bankAccount', {
            bankAccounts: state => state.bankAccounts
        })
    },
    methods: {
        ...mapActions('checkout', ['viewTransaction', 'addMember', 'addToCart', 'makePayment', 'removeMember', 'cancelBooking']),
        ...mapActions('bankAccount', ['getBankAccounts']),
        add(transaction_id){
            this.addMember(transaction_id)
            .then((res) => {
                this.viewTransaction(this.$route.params.transaction_id)
                //nanti diisi untuk menampilkan notif tambah member
            })
        },
        remove(transaction_detail_id){
            this.removeMember(transaction_detail_id)
            .then((res) => {
                this.viewTransaction(this.$route.params.transaction_id)
                //nanti diisi untuk menampilkan notif hapus
            })
        },
        pay(transaction_id){
            this.makePayment(transaction_id)
            .then((res) => {
                this.$router.push({ name: 'success', params: {transaction_id: transaction_id }})
            })
        },
        cancel(transaction_id){
            this.cancelBooking(transaction_id)
            .then((res) => {
                this.$router.push({name: 'detail', params: {slug: res.data.slug}})
            })
        }
    },
    components: {
        'app-header2' : Header2,
        'app-footer' : Footer,
        'breadcrumb' : Breadcrumb,
    },
}
</script>
