<template>
<main>
    <div class="content-wrapper">
        <app-header/>
        <section class="section-details-header">

        </section>
        <section class="section-details-content">
            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    Paket Umroh
                                </li>
                                <li class="breadcrumb-item active">
                                    Details
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 pl-lg-0">
                        <div class="card card-details">
                            <h1>{{ umrohPackages.title }}</h1>
                            <p>
                                {{ umrohPackages.location }}
                            </p>
                            <template v-if="umrohPackages.galleries.length > 0">
                                <div class="gallery">
                                    <!-- gambar besar -->
                                    <div class="text-center xzoom-container">
                                        <b-carousel
                                            id="carousel-fade"
                                            style="text-shadow: 0px 0px 2px #000;"
                                            fade
                                            indicators
                                            img-width="1024"
                                            v-model="slide"
                                            controls
                                            background="#ababab"
                                            @sliding-start="onSlideStart"
                                            @sliding-end="onSlideEnd"
                                        >
                                            <div v-for="(item, index) in umrohPackages.galleries" :key="index">
                                                <b-carousel-slide
                                                    caption=""
                                                    :img-src="'/storage/galleries/' + item.image"
                                                    width="120"
                                                ></b-carousel-slide>
                                            </div>
                                        </b-carousel>
                                    </div>
                                </div>
                            </template>
                            <h2>Tentang Paket</h2>
                            <p>
                                {{ umrohPackages.about }}
                            </p>
                            <div class="features row">
                                <div class="col-md-4">
                                    <img src="/frontend/images/ic_event@2x.png" alt="" class="features-image">
                                    <div class="description">
                                        <h3>Event Spesial</h3>
                                        <p>{{ umrohPackages.featured_event }}</p>
                                    </div>
                                </div>
                                <!-- border-left bawaan bootstrap utk memberi garis -->
                                <div class="col-md-4 border-left">
                                    <img src="/frontend/images/ic_language@2x.png" alt="" class="features-image">
                                    <div class="description">
                                        <h3>Hotel</h3>
                                        <p>{{ umrohPackages.hotel }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 border-left">
                                    <img src="/frontend/images/ic_language@2x.png" alt="" class="features-image">
                                    <div class="description">
                                        <h3>Maskapai</h3>
                                        <p>{{ umrohPackages.airline }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-right card-details">
                            <h2>Member yang bergabung</h2>
                            <div class="members my-2">
                                <img src="/frontend/images/bagya-member1.png" alt="" class="members-image mr-1">
                                <img src="/frontend/images/ruqi.png" alt="" class="members-image mr-1">
                                <img src="/frontend/images/member3@2x.png" alt="" class="members-image mr-1">
                                <img src="/frontend/images/member4@2x.png" alt="" class="members-image mr-1">
                                <img src="/frontend/images/Ellipse 3@2x.png" alt="" class="members-image mr-1">
                            </div>
                            <hr>
                            <h2>Informasi Umroh</h2>
                            <table class="trip-information">
                                <tr>
                                    <th width="50%">Keberangkatan</th>
                                    <td width="50%" class="text-right">
                                        {{ umrohPackages.departure_date | formatDate }}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%">Waktu</th>
                                    <td width="50%" class="text-right">
                                        {{ umrohPackages.duration }} hari
                                    </td>
                                </tr>
                                <tr>
                                    <th width="50%">Harga</th>
                                    <td width="50%" class="text-right">
                                        $ {{ umrohPackages.price }},00 /orang
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="join-container">
                            <!-- jika sudah login -->
                            <template v-if="isAuth">
                                <form action="" method="">
                                    <button class="btn btn-block btn-join-now mt-3 py-2" type="submit" @click.prevent="submit(umrohPackages.id)">Gabung Sekarang</button>
                                </form>
                            </template>
                            <!-- jika belum login -->
                            <template v-else>
                                <router-link :to="{ name: 'login' }" class="btn btn-block btn-join-now mt-3 py-2">
                                    Login atau Register untuk Bergabung
                                </router-link>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-footer/>
    </div>
</main>
</template>
<script>
import { mapActions, mapState, mapGetters } from 'vuex';
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import Breadcrumb from '../components/Breadcrumb.vue';
import moment from 'moment'

export default {
    name: 'ViewDetail',
    created() {
        this.viewUmrohPackages(this.$route.params.slug);
    },
    data() {
        return {
            slide: 0,
            sliding: null
        }
    },
    computed: {
        ...mapState(['errors']),
        ...mapGetters(['isAuth']), //mengambil getters isAuth dari vuex. didepan ['isAuth'] tidak diberi nama module (store) karena targetnya terletak di root yaitu store.js
        ...mapState('detail', {
            umrohPackages: state => state.umrohPackages
        })
    },
    methods: {
        ...mapActions('detail', ['viewUmrohPackages']),
        ...mapActions('checkout', ['addToCart']),
        submit(id){
            this.addToCart(id)
            .then((res) => {
                this.$router.push({ name: 'checkout', params: {transaction_id: res.data.id }})
            })
        },

        // for automatic sliding
        onSlideStart(slide) {
            this.sliding = true
        },
        onSlideEnd(slide) {
            this.sliding = false
        }
    },
    filters: {
        //nilai ini akan dikirmkan ke html yg memuat method formatDate
        formatDate(val){
            //memformat tanggal sesuai tanggal indonesia
            return moment(new Date(val)).format('DD-MM-YYYY')
        }
    },
    components: {
        'app-header' : Header,
        'app-footer' : Footer,
    },
}
</script>
