<template>
    <div class="content-wrapper">
        <app-header />
        <header class="text-center">
            <h1>
                Wujudkan Impian Umroh
                <br>
                Yang Mabrur
            </h1>
            <p class="mt-3">
                Bersama
                <br>
                Umroh tour and travel
            </p>
            <!-- jika tombol get started di klik akan diarahkan ke tag yg ber id popular -->
            <a href="#popular" class="btn btn-get-started px-4 mt-4">
                Get Started
            </a>
        </header>
        <main>
            <div class="container">
                <section class="section-stats row justify-content-center" id="stats">
                    <!-- col-3 => jika layar hp maka tampilan. col-md-2 => jika layar medium(md) -->
                    <div class="col-3 col-md-2 stats-detail">
                        <h2>2K</h2>
                        <p>Jamaah</p>
                    </div>
                    <div class="col-3 col-md-2 stats-detail">
                        <h2>4</h2>
                        <p>Negara</p>
                    </div>
                    <div class="col-3 col-md-2 stats-detail">
                        <h2>100</h2>
                        <p>Hotel</p>
                    </div>
                    <div class="col-3 col-md-2 stats-detail">
                        <h2>10</h2>
                        <p>Partner</p>
                    </div>
                </section>
                <section class="section-popular" id="popular">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center section-popular-heading">
                                <h2>Paket Favorit</h2>
                                <p>
                                    Paket yang akan membuat anda
                                    <br>
                                    lebih khusyu dan nyaman
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-popular-content" id="popularContent">
                    <div class="container">
                        <div class="section-popular-travel row d-flex flex-nowrap">
                            <div v-for="(item, index) in umrohPackages" :key="index">
                                <!-- col-sm-6 => berlaku saat tampilan kecil, col-md-4 => dipakai saat tanpilan medium, col-lg-3 => dipakai saat tampilan lebar -->
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <!-- cek dulu ada gaknya gambar. Biar jika gak ada gambar tidak menampilkan error -->
                                    <!-- { 'background-image': 'url(' + '/storage/galleries/' + item.galleries[0].image +')' } -->
                                    <div class="card-travel text-center d-flex flex-column" :style="{ 'background-image': `url(/storage/galleries/${item.galleries.length > 0 ? item.galleries[0].image : 'undefined'})` }">
                                        <!-- <div class="travel-country">{{ item.location }}</div> -->
                                        <div class="travel-location">{{ item.title }}</div>
                                        <div class="travel-button mt-auto">
                                            <router-link :to="{ name: 'detail', params: {slug: item.slug } }">
                                                <a href="javascript:void(0)" class="btn btn-travel-details">Lihat Detail</a>
                                            </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-networks" id="networks">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Jaringan Kami</h2>
                                <p>Perusahaan yang mempercayai
                                    <br>
                                    lebih dari sekedar tour and travel biasa
                                </p>
                            </div>
                            <div class="col-md-8 text-center">
                                <img src="frontend/images/logos_partner@2x.jpg" alt="Logo Partner"
                                class="img-partner">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-testimonial-heading" id="testimonialHeading">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <h2>Mereka yang sudah bergabung dengan kami</h2>
                                <p>
                                    Layanan yang memberikan mereka
                                    <br>
                                    pengalaman terbaik travel umroh
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section-testimonial-content" id="testimonialContent">
                    <div class="container">
                        <div class="section-popular-travel row justify-content-center">
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="card card-testimonial text-center">
                                    <div class="testimonial-content">
                                        <img src="frontend/images/pogung.png" alt="User" class="mb-4 rounded-circle">
                                        <h3 class="mb-4">Ahmad Abdullah</h3>
                                        <p class="testimonial">
                                            "Pelayanannya sangat memuaskan dari berbagai aspek"
                                        </p>
                                    </div>
                                    <hr>
                                    <p class="trip-to mt-2">
                                        Paket umroh plus Dubai
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="card card-testimonial text-center">
                                    <div class="testimonial-content">
                                        <img src="frontend/images/fahmi.png" alt="User" class="mb-4 rounded-circle">
                                        <h3 class="mb-4">Syakif</h3>
                                        <p class="testimonial">
                                            "Full bimbingan ibadah secara detail dan lengkap"
                                        </p>
                                    </div>
                                    <hr>
                                    <p class="trip-to mt-2">
                                        Paket umroh plus Madinah
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="card card-testimonial text-center">
                                    <div class="testimonial-content">
                                        <img src="frontend/images/bagya.png" alt="User" class="mb-4 rounded-circle">
                                        <h3 class="mb-4">Zara</h3>
                                        <p class="testimonial">
                                            "Kenyamanan dalam pelayanan menambah motivasi saya untuk lebih semangat beribadah di tanah suci"
                                        </p>
                                    </div>
                                    <hr>
                                    <p class="trip-to mt-2">
                                        Paket umroh plus Turki
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="#" class="btn btn-need-help px-4 mt-4 mx-1">Saya butuh bantuan</a>
                                <a href="#" class="btn btn-get-started px-4 mt-4 mx-1">Get Started</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <app-footer />
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
export default {
    name: 'home',
    created() {
        this.getUmrohPackages();
        this.getNotifications();
    },
    data() {
        return {
            
        }
    },
    computed: {
        ...mapState(['errors']),
        ...mapState(['success']),
        ...mapState('home', {
            umrohPackages: state => state.umrohPackages
        })
    },
    mounted(){
        this.makeToast('success') //menangkap notif success regsiter n login
    },
    methods: {
        ...mapActions('home', ['getUmrohPackages']),
        ...mapActions('notification', ['getNotifications']),

        makeToast(variantt = null) {
            if(this.success != null){
                this.$bvToast.toast(this.success.message, {
                    title: this.success.status,
                    variant: variantt,
                    solid: true,
                    autoHideDelay: 7000,
                })
            }
        },
    },
    components: {
        'app-header' : Header,
        'app-footer' : Footer,
    },
}
//tag router-view adalah tag yang berasal dari vue router dimana html yang akan di-render berdasarkan route yang sedang diakses.
</script>
