<template>
<div>
    <div class="content-wrapper">
        <main class="login-container">
            <div class="container">
                <!-- d-flex berarti memaki flexbox -->
                <div class="row page-login d-flex align-items-center">
                    <div class="section-left col-12 col-md-6">
                        <h1>Kami memberikan <br>pelayanan terbaik</h1>
                        <!-- d-none berarti secara default (layar kecil) tidak muncul gambar. d-sm-flex -> pada layar small akan muncul -->
                        <img src="frontend/images/mekkah.jpg" width="400" height="400" alt="" class=" d-none d-sm-flex">
                    </div>
                    <div class="section-right col-12 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="frontend/images/logo_umroh.png" alt="" class="w-50 mb-4">
                                </div>
                                <form action="">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" value="#" required autocomplete="email" v-model="data.email"  :class="{'is-invalid': errors.email}" autofocus>
                                        <p class="text-danger pull-left" v-if="errors.email">{{ errors.email[0] }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" v-model="data.password" class="form-control" required autocomplete="current-password">
                                        <p class="text-danger pull left" v-if="errors.password">{{ errors.password[0] }}</p>
                                    </div>
                                    <div class="alert alert-danger" role="alert" v-if="errors.invalid">   
                                        <small>{{ errors.invalid }}. <a href="#" class="alert-link"> Lupa password?</a></small>
                                    </div>
                                    <div class="form-group form-check">
                                        <input class="form-check-input" type="checkbox" v-model="data.remember_me">
                                        <label for="password" class="form-check-label">Remember me</label>
                                    </div>
                                    <button type="" @click.prevent="postLogin" class="btn btn-login btn-block">
                                        Sign in
                                    </button>
                                    <div class="form-group mt-1">
                                        <router-link :to="{ name: 'register' }" class="text-decoration-none text-dark btn-registerr">
                                            Belum terdaftar?
                                        </router-link>
                                    </div>
                                    <p class="text-center mt-4">
                                        <a class="btn btn-link" href="#">
                                            Saya lupa password
                                        </a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</template>
<!-- Pada bagian HTML section hanya berisi tag html dimana terdapat dua inputan yakni email dan password dimana masing-masing form input-an tersebut memiliki v-model yang merujuk ke property data() dari Vue.js. -->

<!-- javascript section -->
<script>
import { mapActions, mapMutations, mapGetters, mapState } from 'vuex';
export default {
    data() {
        return {
            data: {
                email: '',
                password: '',
                remember_me: false
            }
        }
    },
    //sebelum component di-render
    created() {
        //melakukan pengecekan user yg login, jika sudah login isAuth bernilai true
        if (this.isAuth) {
            //di redirect ke home
            this.$router.push({ name: 'home' })
        }
    },
    computed: {
        ...mapGetters(['isAuth']), //mengambil getters isAuth dari vuex. didepan ['isAuth'] tidak diberi nama module (store) karena targetnya terletak di root yaitu store.js
      	...mapState(['errors']) //mengambil state errors dari store.js
    },
    methods: {
        // this.$store.dispatch('auth/submit'); //awalnya pakai ini. ini native. trus diganti dibawah ini. dibawah ini adalah helpernya vue
        ...mapActions('auth', ['submit']), //menginisiasi fungsi submit() dari vuex agar dapat digunakan oleh component terkait. submit() berasal dari action dari folder store/auth.js. karena ini mengambil bukan dari root, maka perlu menambahkan nama modulenya yaitu auth.
        ...mapActions('user', ['getUserLogin']),
        ...mapMutations(['CLEAR_ERRORS']),
      
      	//ketika tombol login ditekan maka akan memicu postLogin()
        postLogin() {
            //tombol ini akan menjalankan fungsi submit() dengan mengirimkan data yang dibutuhkan. submit ini merujuk pada ...mapActions('auth', ['submit']).
            this.submit(this.data).then(() => {
                //cek value isAuth. jika bernilai true
                if (this.isAuth) {
                    this.CLEAR_ERRORS()
                    // if(is_admin== 1){
                    //     this.$router.push('admin')
                    // } else {
                    //     this.$router.push('dashboard')
                    // }
                    //akan diredirect ke route yang bernama home
                    this.$router.push({ name: 'home' })
                }
            })
        },

        destroyed(){
            this.getUserLogin() //getUserLogin() akan berjalankan ketika component Login.vue di-destroy (ditinggalkan).
        }
    }
}
</script>

