<template>
<main>
    <div class="content-wrapper">
        <app-header/>
        <section class="section-details-header">

        </section>
        <section class="section-details-content">
            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    Pesanan Saya
                                </li>
                                <li class="breadcrumb-item active">
                                    Detail
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 pl-lg-0">
                        <div class="card card-orders">
                            <div class="d-flexxx">
                                <!-- d-flex menjadikan element2 menjadi ke samping -->
                                <div class="bg-color">
                                    <b-tabs content-class="mt-3" class="font-weight-bold" :active-nav-item-class="'tab-activee'" lazy fill>
                                        <b-tab @click="status(6)" title="Semua" active :title-link-class="'tab-title'"></b-tab>
                                        <b-tab @click="status(0)" title="Keranjang" :title-link-class="'tab-title'"></b-tab>
                                        <b-tab @click="status(1)" title="Belum Bayar" :title-link-class="'tab-title'"></b-tab>
                                        <b-tab @click="status(2)" title="Lunas" :title-link-class="'tab-title'"></b-tab>
                                        <b-tab @click="status(3)" title="Gagal" :title-link-class="'tab-title'"></b-tab>
                                        <b-tab @click="status(4)" title="Dibatalkan" :title-link-class="'tab-title'"></b-tab>
                                        <b-tab @click="status(5)" title="Selesai" :title-link-class="'tab-title'"></b-tab>
                                    </b-tabs>
                                </div>
                                <div class="pb-3">
                                    <input type="text" class="form-control" placeholder="Cari berdasarkan paket umroh..." v-model="search">
                                </div>
                            </div>
                            <div>
                                <div class="">
                                    <div v-for="(data, index) in orders.data" :key="index">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Paket umroh</th>
                                                <td>{{ data.umroh_package.title }}</td>
                                            </tr>
                                            <tr>
                                                <th>Visa</th>
                                                <td>{{ data.additional_visa | currency }}</td>
                                            </tr>
                                            <tr>
                                                <th>Total Transaksi</th>
                                                <td>{{ data.total | currency }}</td>
                                            </tr>
                                            <tr>
                                                <th>Status</th>
                                                <td>
                                                    <span class="badge badge-warning" v-if="data.status == 0">In cart</span>
                                                    <span class="badge badge-primary" v-else-if="data.status == 1">Pending</span>
                                                    <span class="badge badge-success" v-else-if="data.status == 2">Success</span>
                                                    <span class="badge badge-danger" v-else-if="data.status == 3">Failed</span>
                                                    <span class="badge badge-dark" v-else-if="data.status == 4">Canceled</span>
                                                    <span class="badge badge-info" v-else-if="data.status == 5">Completed</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Pembelian</th>
                                                <td>
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>Nama</th>
                                                            <th>Alamat</th>
                                                            <th>Visa</th>
                                                            <th>DOE Passport</th>
                                                        </tr>
                                                        <tr v-for="(item, index) in data.transaction_details" :key="index">
                                                            <td>{{ index + 1 }}</td>
                                                            <td>{{ item.user.name }}</td>
                                                            <td>{{ item.user.address }}</td>
                                                            <td>{{ item.is_visa ? '30 Hari' : 'Tidak' }}</td>
                                                            <td>{{ item.doe_passport | formatDate }}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td>
                                                    <div class="p-1 pull-right d-flex" v-if="data.status == '1'">
                                                        <div class="mr-2">
                                                            <a href="javascript:void(0)" @click.prevent="cancel(data.id)" class="btn btn-light btn-sm">Batalkan Pesanan</a>
                                                        </div>
                                                        <div>
                                                            <router-link class="btn btn-primary btn-sm" :to="{ name: 'payment', params: { id: data.id } }" data-toggle="tooltip" data-placement="top" title="Konfirmasi pembayaran"><i class="fa fa-money"> Bayar</i></router-link>
                                                        </div>
                                                    </div>
                                                    <div v-else-if="data.status == '0'" class="p-1 pull-right d-flex">
                                                        <div class="mr-2">
                                                            <a href="javascript:void(0)" @click.prevent="cancel(data.id)" class="btn btn-light btn-sm">Batalkan Pesanan</a>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0)" @click.prevent="pay(data.id)" class="btn btn-checkout btn-sm">Pesan</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- pagination -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- "orders.data" mengambil dari computed mapState -->
                                        <p v-if="orders.data">
                                            <i class="fa fa-list-ul"></i> 
                                            <!-- meta berasal dari backend, bagian pagination -->
                                            {{ orders.data.length }} item dari {{ orders.meta.total }} total data
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pull-right">
                                            <b-pagination
                                            v-model="page"
                                            :total-rows="orders.meta.total"
                                            :per-page="orders.meta.per_page"
                                            aria-controls="orders"
                                            v-if="orders.data && orders.data.length > 0"
                                            ></b-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-footer/>
    </div>
</main>
</template>
<script>
import { mapActions, mapState, mapGetters } from 'vuex';
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import Breadcrumb from '../components/Breadcrumb.vue';
import moment from 'moment'

export default {
    name: 'Order',
    created() {
        // this.viewUmrohPackages(this.$route.params.slug);
        this.getOrders({
            search: this.search,
            status: this.filter_status
        })
    },
    data() {
        return {
            fieldss: [
                { key: 'umroh_package', label: 'Paket Umroh', sortable: false },
                { key: 'user', label: 'Customer', sortable: false },
                { key: 'additional_visa', label: 'Visa', sortable: false },
                { key: 'total', label: 'Total', sortable: false },
                { key: 'status', label: 'Status', sortable: false },
                { key: 'actions', label: 'Aksi' } //actions is virtual column
            ],

            transProps: { name: 'flip-list' }, //nama transisi. memanggil class css di style.css
            search: '',
            filter_status: 6 //0: in_cart, 1: pending, 2: success, 3: failed, 4: cancel, 5: completed
        }
    },
    computed: {
        ...mapState(['success']),
        ...mapGetters(['isAuth']), //mengambil getters isAuth dari vuex. didepan ['isAuth'] tidak diberi nama module (store) karena targetnya terletak di root yaitu store.js
        ...mapState('order', {
            orders: state => state.orders
        }),
        page: {//code page yg ini untuk mengubah nilai page yg diiinputkan oleh user
            get() {
                //mengambil value page di state transaction.js
                return this.$store.state.transaction.page //$store.state.namamodul.namastate
            },
            set(val) {
                //mengubah value page di mutation transaction.js apabila ada perubahan page di state transaction.js
                this.$store.commit('transaction/SET_PAGE', val)
            }
        }
    },
    watch: {
        page () { //code page yg ini untuk menampilkan ke user
            //jika value berubah maka akan meminta data dari server
            this.getOrders({
                search: this.search,
                status: this.filter_status
            })
        },
        search() {
            this.getOrders({
                search: this.search,
                status: this.filter_status
            })
        },
        //jika filter_status di data() berubah
        filter_status(){
            this.getOrders({
                search: this.search,
                status: this.filter_status
            })
        }
    },
    mounted(){
        this.makeToast('success') //menangkap notif success dari add dan update
    },
    methods: {
        ...mapActions('order', ['getOrders']),
        ...mapActions('checkout', [ 'makePayment', 'cancelBooking']),
        status(e){
            this.filter_status = e
        },
        makeToast(variantt = null) {
            if(this.success != null){
                this.$bvToast.toast(this.success.message, {
                    title: this.success.status,
                    variant: variantt,
                    solid: true,
                    autoHideDelay: 7000,
                })
            }
        },
        pay(transaction_id){
            this.makePayment(transaction_id)
            .then((res) => {
                this.$router.push({ name: 'success', params: {transaction_id: transaction_id }})
            })
        },
        cancel(transaction_id){
            //menampilkan jendela konfirmasi
            this.$swal({
                title: 'Yakin ingin membatalkan?',
                text: "Pesanan kamu akan dibatalkan",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Lanjutkan!',
                cancelButtonText: 'Batal'
            }).then((result) => {
                //jika disetujui akan ada value: true. jika di CANCEL akan menghasilkan dismiss: "cancel
                if(result.value){
                    this.cancelBooking(transaction_id)
                    .then((res) => {
                        this.getOrders({
                            search: this.search,
                            status: this.filter_status
                        })
                        this.makeToast('warning')
                    })
                }
            })
        }
    },
    filters: {
        //nilai ini akan dikirmkan ke html yg memuat method formatDate
        formatDate(val){
            //memformat tanggal sesuai tanggal indonesia
            return moment(new Date(val)).format('DD-MM-YYYY')
        }
    },
    destroyed(){
        //menghapus state success di store.js saat form ini ditutup
        this.$store.commit('SET_SUCCESS', null) //mengakses mutations di root module
    },
    components: {
        'app-header' : Header,
        'app-footer' : Footer,
    },
}
</script>
