<template>
<main>
    <div class="content-wrapper">
        <app-header/>
        <section class="section-details-header">

        </section>
        <section class="section-details-content">
            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    Pesanan Saya
                                </li>
                                <li class="breadcrumb-item active">
                                    Detail
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 pl-lg-0">
                        <div class="card card-orders">
                            <div>
                                <div v-if="errors.message">
                                    <!-- :show="dismissCount" untuk mendefinisikan berapa detik waktu tampil. di data harus di set waktunya. misal dismissCount: 5 -->
                                    <b-alert dismissible fade variant="danger" show>
                                        {{ errors.message }}
                                    </b-alert>
                                </div>
                                <!-- class error untuk memberikan warna merah pada form jika ada error. error ini didapatkan dari laravel-->
                                <div class="form-group" > 
                                    <label for="" >Jumlah yang ditransfer</label>
                                    <input type="number" v-model="payment.amount" class="form-control" :class="{ 'is-invalid': errors.amount }" placeholder="Jumlah ...">
                                    <p class="text-danger" v-if="errors.amount">{{ errors.amount[0]}}</p>
                                </div>
                                <div class="form-group" > 
                                    <label for="" >Metode Pembayaran</label>
                                    <select name="" class="form-control" v-model="payment.type" :class="{ 'is-invalid': errors.type }">
                                        <option value="">-- Pilih --</option>
                                        <option :value="'transfer'">Transfer</option>
                                        <option :value="'cash'">Tunai</option>
                                    </select>
                                    <!-- untuk menampilkan error apa yg terjadi -->
                                    <p class="text-danger" v-if="errors.type">{{ errors.type[0]}}</p>
                                </div>
                                <div class="form-group" v-if="payment.type == 'transfer'"> 
                                    <label for="" >Bank Tujuan</label>
                                    <select name="" class="form-control" v-model="payment.bank_account_id" :class="{ 'is-invalid': errors.bank_account_id }">
                                        <option value="">-- Pilih --</option>
                                        <option v-for="(item, index) in bankAccounts.data" :value="item.id" :key="index">{{ item.name }}</option>
                                    </select>
                                    <p class="text-danger" v-if="errors.bank_account_id">{{ errors.bank_account_id[0]}}</p>
                                </div>
                                <div class="form-group" >
                                    <label for="" >Tanggal Pembayaran</label>
                                    <input type="date" v-model="payment.date" class="form-control" :class="{ 'is-invalid': errors.date }" placeholder="Tanggal ...">
                                    <small class="text">Bulan / tanggal / tahun</small>
                                    <p class="text-danger" v-if="errors.date">{{ errors.date[0]}}</p>
                                </div>
                                <div class="form-group">
                                    <label for="">Foto bukti pembayaran</label>
                                    <input type="file" class="form-control" accept="image/*" @change="uploadImage($event)" :class="{ 'is-invalid': errors.photo }">
                                    <p class="text-danger" v-if="errors.photo">{{ errors.photo[0] }}</p>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <button class="btn btn-primary btn-sm" @click.prevent="submit" :disabled="isLoading">
                                    <span v-if="!isLoading" class="fa fa-save"> Simpan</span>
                                    <div v-else-if="isLoading">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                                    </div>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <app-footer/>
    </div>
</main>
</template>
<script>
import { mapActions, mapState, mapGetters, mapMutations } from 'vuex';
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import Breadcrumb from '../components/Breadcrumb.vue';
import moment from 'moment'

export default {
    name: 'FormPayment',
    created(){
        this.getBankAccounts() //atau this.$store.dispatch('bankAccount/getBankAccounts')
    },
    data(){
        return {
            
        }
    },
    computed: {
        ...mapState(['errors']),  //mengambil mapstate error dari
        ...mapState('payment', {
            payment: state => state.payment //mengambil dan mengisi state payment dari payment.js
        }),
        ...mapState('bankAccount', {
            bankAccounts: state => state.bankAccounts
        }),
        ...mapState('payment', {
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapMutations('payment', ['CLEAR_FORM']), //memanggil mutation CLEAR_FORM dari payment.js utk keperluan fungsi destroyed()
        ...mapActions('payment', ['submitPayment']), //panggil submitPayment di payment.js
        // ...mapActions('umrohPackage', ['getUmrohPackageWithoutPage']),
        ...mapActions('bankAccount', ['getBankAccounts']),
        // jika ada penginputan gambar, maka file yg diinput akan di assign ke dalam payment.image
        uploadImage(event){
            //mengakses fungsi state.payment di payment.js melalui computed diatas
            this.payment.photo = event.target.files[0]
        },
        submit(){
            this.submitPayment(this.$route.params.id)
            .then(() => {
                //jika berhasil dan redirect ke list payment
                this.$router.push({ name: 'order'})
            })
        },
        

    },
    //ketika halaman form ditinggalkan
    destroyed() {
        //form dibersihkan
        this.CLEAR_FORM()
    },
    components: {
        'app-header' : Header,
        'app-footer' : Footer,
    },
}
</script>
