<template>
<div>
    <div class="content-wrapper">
        <main class="register-container">
            <div class="container">
                <!-- d-flex berarti memaki flexbox -->
                <div class="row page-register d-flex">
                    <div class="section-left col-12 col-md-6">
                        <h1>Kami memberikan <br>pelayanan terbaik</h1>
                        <!-- d-none berarti secara default (layar kecil) tidak muncul gambar. d-sm-flex -> pada layar small akan muncul -->
                        <img src="frontend/images/mekkah.jpg" width="400" height="400" alt="" class=" d-none d-sm-flex">
                    </div>
                    <div class="section-right col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="frontend/images/logo_umroh.png" alt="" class="w-50 mb-4">
                                </div>
                                <form action="">
                                    <div class="form-group">
                                        <label>Nama</label>
                                        <input type="text" class="form-control" v-model="data.name"  :class="{'is-invalid': errors.name}" autofocus>
                                        <p class="text-danger pull-left" v-if="errors.name">{{ errors.name[0] }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" required autocomplete="email" v-model="data.email"  :class="{'is-invalid': errors.email}" autofocus>
                                        <p class="text-danger pull-left" v-if="errors.email">{{ errors.email[0] }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" v-model="data.password" class="form-control" :class="{'is-invalid': errors.password}" required autocomplete="current-password">
                                        <p class="text-danger pull left" v-if="errors.password">{{ errors.password[0] }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label>No. Handphone</label>
                                        <input type="text" class="form-control" v-model="data.phone"  :class="{'is-invalid': errors.phone}" autofocus>
                                        <p class="text-danger pull-left" v-if="errors.phone">{{ errors.phone[0] }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Tanggal Lahir</label>
                                        <input type="date" class="form-control" v-model="data.birth_date"  :class="{'is-invalid': errors.birth_date}" autofocus>
                                        <small class="text-dark">Bulan / tanggal / tahun</small>
                                        <p class="text-danger pull-left" v-if="errors.birth_date">{{ errors.birth_date[0] }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Jenis Kelamin</label>
                                        <select name="" v-model="data.gender" :class="{'is-invalid': errors.gender}" class="form-control" id="">
                                            <option value="">--Pilih--</option>
                                            <option :value="1">Laki-laki</option>
                                            <option :value="0">Perempuan</option>
                                        </select>
                                        <p class="text-danger pull-left" v-if="errors.gender">{{ errors.gender[0] }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Alamat</label>
                                        <textarea class="form-control" v-model="data.address"  :class="{'is-invalid': errors.address}" autofocus cols="10" rows="3"></textarea>
                                        <p class="text-danger pull-left" v-if="errors.address">{{ errors.address[0] }}</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Photo</label>
                                        <input type="file" class="form-control" accept="image/*" @change="uploadImage($event)" :class="{ 'is-invalid': errors.photo }" autofocus>
                                        <p class="text-danger pull-left" v-if="errors.photo">{{ errors.photo[0] }}</p>
                                        <small class="text-dark">Foto harus berformat jpeg, jpg atau png</small>
                                    </div>
                                    <button @click.prevent="postRegister" class="btn btn-register btn-block" :disabled="isLoading">
                                        <span v-if="!isLoading"> Daftar</span>
                                        <div v-else-if="isLoading">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</template>
<!-- Pada bagian HTML section hanya berisi tag html dimana terdapat dua inputan yakni email dan password dimana masing-masing form input-an tersebut memiliki v-model yang merujuk ke property data() dari Vue.js. -->

<!-- javascript section -->
<script>
import { mapActions, mapMutations, mapGetters, mapState } from 'vuex';
export default {
    data() {
        return {
            data: {
                name: '',
                email: '',
                password: '',
                phone: '',
                birth_date: '',
                gender: '',
                address: '',
                photo: ''
            }
        }
    },
    computed: {
        ...mapGetters(['isAuth']), //mengambil getters isAuth dari vuex. didepan ['isAuth'] tidak diberi nama module (store) karena targetnya terletak di root yaitu store.js
        ...mapState(['errors']), //mengambil state errors dari store.js
        ...mapState('auth', {
            isLoading: state => state.isLoading
        })
    },
    methods: {
        // this.$store.dispatch('auth/submit'); //awalnya pakai ini. ini native. trus diganti dibawah ini. dibawah ini adalah helpernya vue
        ...mapActions('auth', ['register']), //menginisiasi fungsi submit() dari vuex agar dapat digunakan oleh component terkait. submit() berasal dari action dari folder store/auth.js. karena ini mengambil bukan dari root, maka perlu menambahkan nama modulenya yaitu auth.
        ...mapActions('user', ['getUserLogin']),
        ...mapMutations(['CLEAR_ERRORS']),

        uploadImage(event){
            this.data.photo = event.target.files[0]
        },
      
      	//ketika tombol login ditekan maka akan memicu postLogin()
        postRegister() {
            //tombol ini akan menjalankan fungsi submit() dengan mengirimkan data yang dibutuhkan. submit ini merujuk pada ...mapActions('auth', ['submit']).
            let form = new FormData() //mengupload gambar harus pakai formdata
            form.append('name', this.data.name)
            form.append('email', this.data.email)
            form.append('password', this.data.password)
            // form.append('username', this.data.username)
            form.append('phone', this.data.phone)
            form.append('birth_date', this.data.birth_date)
            form.append('gender', this.data.gender)
            form.append('address', this.data.address)
            form.append('photo', this.data.photo)

            this.register(form).then(() => {
                //cek value isAuth. jika bernilai true
                if (this.isAuth) {
                    this.CLEAR_ERRORS()
                    //akan diredirect ke route yang bernama home
                    this.$router.push({ name: 'home' })
                }
            })
        },

        destroyed(){
            this.getUserLogin() //getUserLogin() akan berjalankan ketika component Login.vue di-destroy (ditinggalkan).
        }
    }
}
</script>

