<template>
<main>
    <div class="content-wrapper">
        <app-header2/>
        <div class="section-success d-flex align-items-center">
            <div class="col text-center">
                <img :src="'/frontend/images/ic_mail@2x.png'" alt="">
                <h1 class="">Alahamdulillah! Berhasil memesan paket umroh</h1>
                <p>
                    Kami mengirim detail pembayaran ke email Anda
                    <br>
                    Mohon pahami dengan benar
                </p>
                
                <router-link :to="{ name: 'home' }" class="btn btn-home-page mt-3 px-5">
                    Homepage
                </router-link>
            </div>
        </div>            
    </div>
</main>
</template>
<script>
import { mapState } from 'vuex'
import Header2 from '../components/Header2.vue'
export default {
    name: 'Success',
    components: {
        'app-header2' : Header2,
    },
    destroyed(){
        //menghapus state success di store.js saat form ini ditutup
        this.$store.commit('SET_SUCCESS', null) //mengakses mutations di root module
    },
}
</script>
