<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <h5>Tambah User</h5>
            </div>
        </div>
        <div>
            <!-- form yg diload dari form.vue -->
            <user-form></user-form>
            <!-- tombol add untuk menambahkan -->
            <div class="form-group">
                <button class="btn btn-primary btn-sm" @click.prevent="submit" :disabled="isLoading">
                    <span v-if="!isLoading" class="fa fa-save"> Add New</span>
                    <div v-else-if="isLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import FormUser from './Form.vue'
export default {
    name: 'AddUser',
    computed: {
        ...mapState('user', {
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapActions('user', ['submitUser']), //panggil submitUser di user.js
        submit(){
            this.submitUser()
            .then(() => {
                //jika berhasil redirect ke list user
                this.$router.push({ name: 'user.data'})
            })
        }
    },
    components: {
        'user-form': FormUser
    }
}
</script>
