<template>
    <div>
        <div v-if="errors.message">
            <!-- :show="dismissCount" untuk mendefinisikan berapa detik waktu tampil. di user harus di set waktunya. misal dismissCount: 5 -->
            <b-alert dismissible fade variant="danger" show>
                {{ errors.message }}
            </b-alert>
        </div>
        <!-- class error untuk memberikan warna merah pada form jika ada error. error ini didapatkan dari laravel-->
        <div class="form-group">
            <label>Nama</label>
                <input type="text" class="form-control" v-model="user.name"  :class="{'is-invalid': errors.name}" autofocus>
                <p class="text-danger pull-left" v-if="errors.name">{{ errors.name[0] }}</p>
            </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" required autocomplete="email" v-model="user.email"  :class="{'is-invalid': errors.email}" autofocus>
            <p class="text-danger pull-left" v-if="errors.email">{{ errors.email[0] }}</p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" v-model="user.password" class="form-control" :class="{'is-invalid': errors.password}" required autocomplete="current-password">
            <p class="text-danger pull left" v-if="errors.password">{{ errors.password[0] }}</p>
            <small v-if="$route.name == 'user.edit'" class="text-warning">Biarkan kosong jika tidak ingin mengganti password</small>
        </div>
        <div class="form-group" v-if="authenticated.roles == 0">
            <label>Peran</label>
            <select name="" v-model="user.roles" :class="{'is-invalid': errors.roles}" class="form-control" id="">
                <option value="">--Pilih--</option>
                <option :value="2">Customer</option>
                <option :value="1">Admin</option>
                <option :value="0">Superadmin</option>
            </select>
            <p class="text-danger pull-left" v-if="errors.roles">{{ errors.roles[0] }}</p>
        </div>
        <div class="form-group">
            <label>No. Handphone</label>
            <input type="text" class="form-control" v-model="user.phone"  :class="{'is-invalid': errors.phone}" autofocus>
            <p class="text-danger pull-left" v-if="errors.phone">{{ errors.phone[0] }}</p>
        </div>
        <div class="form-group">
            <label>Tanggal Lahir</label>
            <input type="date" class="form-control" v-model="user.birth_date"  :class="{'is-invalid': errors.birth_date}" autofocus>
            <small class="text-dark">Bulan / tanggal / tahun</small>
            <p class="text-danger pull-left" v-if="errors.birth_date">{{ errors.birth_date[0] }}</p>
        </div>
        <div class="form-group">
            <label>Jenis Kelamin</label>
            <select name="" v-model="user.gender" :class="{'is-invalid': errors.gender}" class="form-control" id="">
                <option value="">--Pilih--</option>
                <option :value="1">Laki-laki</option>
                <option :value="0">Perempuan</option>
            </select>
            <p class="text-danger pull-left" v-if="errors.gender">{{ errors.gender[0] }}</p>
        </div>
        <div class="form-group">
            <label>Alamat</label>
            <textarea class="form-control" v-model="user.address"  :class="{'is-invalid': errors.address}" autofocus cols="10" rows="3"></textarea>
            <p class="text-danger pull-left" v-if="errors.address">{{ errors.address[0] }}</p>
        </div>
        <div class="form-group">
            <label>Photo</label>
            <input type="file" class="form-control" accept="image/*" @change="uploadImage($event)" :class="{ 'is-invalid': errors.photo }" autofocus>
            <p class="text-danger pull-left" v-if="errors.photo">{{ errors.photo[0] }}</p>
            <small class="text-dark">Foto harus berformat jpeg, jpg atau png. </small>
            <small v-if="$route.name == 'user.edit'" class="text-warning">Biarkan kosong jika tidak ingin mengganti foto</small>
        </div>
    </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
    name: 'FormBankAccount',
    created(){

    },
    user(){
        return {
            
        }
    },
    computed: {
        ...mapState(['errors']),  //mengambil mapstate error dari
        ...mapState('user', {
            user: state => state.user, //mengambil dan mengisi state user dari user.js
            authenticated: state => state.authenticated
        }),
    },
    methods: {
        ...mapMutations('user', ['CLEAR_FORM']), //memanggil mutation CLEAR_FORM dari user.js utk keperluan fungsi destroyed()
        // ...mapActions('user', ['getUserLogin']),
        // jika ada penginputan gambar, maka file yg diinput akan di assign ke dalam user.image
        uploadImage(event){
            //mengakses fungsi state.operator di operator.js melalui computed diatas
            this.user.photo = event.target.files[0]
        },
    },
    //ketika halaman form ditinggalkan
    destroyed() {
        //form dibersihkan
        this.CLEAR_FORM()
    }
}
</script>
