<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <router-link :to="{ name: 'user.add' }" class="btn btn-primary btn-sm">Tambah</router-link>
            </div>
            <div class="p-2">
                <input type="text" class="form-control" placeholder="Cari..." v-model="search">
            </div>
        </div>

        <div>
            <!-- :items="users.data" mengambil dari computed mapState -->
            <!-- items berisi data user yg akan di render ke table, sedangakn fields akan menjadi nama header pd table -->
            <b-table hover :items="users.data" :fields="fieldss" :tbody-transition-props="transProps" primary-key="index">
                <!-- template hanyalah optional saja untuk menginginkan tampilan sesuai yg diharapkan -->
                <!-- :fields="fields" menampilkan label, sedangkan v-slot:cell(image)="row" menampilkan key  -->
                <template v-slot:cell(index)="row">
                    {{ row.index + 1 }}
                </template>
                <template v-slot:cell(roles)="row">
                    <span class="badge badge-danger" v-if="row.item.roles == '0'">Superadmin</span>
                    <span class="badge badge-primary" v-else-if="row.item.roles == '1'">Admin</span>
                    <span class="badge badge-success" v-else-if="row.item.roles == '2' ">Customer</span>
                </template>
                <template v-slot:cell(gender)="row">
                    <span v-if="row.item.gender == 0">Perempuan</span>
                    <span v-else-if="row.item.gender == 1">Laki-laki</span>
                </template>
                <template v-slot:cell(birth_date)="row">
                    {{ row.item.birth_date | formatDate }}
                </template>
                <template v-slot:cell(photo)="row">
                    <div v-if="row.item.photo">
                        <a :href="'/storage/users/' + row.item.photo" data-fancybox data-height="500" data-small-btn="false">
                            <img :src="'/storage/users/' + row.item.photo" :height="40" :alt="row.item.photo">
                        </a>
                    </div>
                    <div v-else>
                        <img :src="'/img/' + 'avatarDefault.png'" height="40" :alt="row.item.image">
                    </div>
                </template>
                <template v-slot:cell(actions)="row">
                    <!-- utk edit pakai a href sesuai link dari router yg diberikan -->
                    <router-link :to="{ name: 'user.edit', params: {id: row.item.id} }" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Edit user"><i class="fa fa-pencil"></i></router-link>
                    <!-- utk hapus pakai button -->
                    <button class="btn btn-danger btn-sm" @click="deleteUser(row.item.id)" data-toggle="tooltip" data-placement="top" title="Hapus user"><i class="fa fa-trash"></i></button>
                </template>
            </b-table>
            <!-- pagination -->
            <div class="row">
                <div class="col-md-6">
                    <!-- "users.data" mengambil dari computed mapState -->
                    <p v-if="users.data">
                        <i class="fa fa-list-ul"></i> 
                        <!-- meta berasal dari backend, bagian pagination -->
                        {{ users.data.length }} item dari {{ users.meta.total }} total data
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <b-pagination
                        v-model="page"
                        :total-rows="users.meta.total"
                        :per-page="users.meta.per_page"
                        aria-controls="users"
                        v-if="users.data && users.data.length > 0"
                        ></b-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
import moment from 'moment'
export default {
    name: 'DataUser',
    created() {
        // sebelum component diload, request data dari server
        // this.$store.dispatch('user/getUsers') //jika tidak pakai helper mapActions, pakainya ini
        // fungsi ini didapat dari methods mapActions('user', ['getUsers', 'removeProducts'])
        this.getUsers()
    },
    data() {
        return {
            fieldss: [
                { key: 'index', label: 'No.' }, //index is virtual column. doesn't exist in items
                { key: 'name', label: 'Nama User', sortable: true },
                { key: 'photo', label: 'Foto', sortable: false },
                { key: 'gender', label: 'Jenis Kelamin', sortable: false },
                { key: 'email', label: 'Email', sortable: false },
                { key: 'roles', label: 'Peran', sortable: true },
                { key: 'phone', label: 'Nomor HP', sortable: false },
                { key: 'birth_date', label: 'Tanggal lahir', sortable: false },
                { key: 'address', label: 'Alamat', sortable: false },
                { key: 'actions', label: 'Aksi' } //actions is virtual column
            ],
            transProps: { name: 'flip-list' }, //nama transisi. memanggil class css di style.css
            search: ''
        }
    },
    computed: {
        ...mapState(['success']),
        ...mapState('user', { //memanggil state users di user.js untuk menampilkan list users
            users: state => state.users
        }),
        page: {//code page yg ini untuk mengubah nilai page yg diiinputkan oleh user
            get() {
                //mengambil value page di state user.js
                return this.$store.state.user.page //$store.state.namamodul.namastate
            },
            set(val) {
                //mengubah value page di mutation user.js apabila ada perubahan page di state user.js
                this.$store.commit('user/SET_PAGE', val)
            }
        }
    },
    watch: {
        page () { //code page yg ini untuk menampilkan ke user
            //jika value berubah maka akan meminta data dari server
            this.getUsers()
        },
        search() {
            this.getUsers(this.search)
        }
    },
    mounted(){
        this.makeToast('success') //menangkap notif success dari add dan update
    },
    methods: {
        ...mapActions('user', ['getUsers', 'removeUser']),
        makeToast(variantt = null) {
            if(this.success != null){
                this.$bvToast.toast(this.success.message, {
                    title: this.success.status,
                    variant: variantt,
                    solid: true,
                    autoHideDelay: 7000,
                })
            }
        },
        //ketika tombol hapus di klik, akan menjalankan perintah berikut
        deleteUser(id){
            //menampilkan jendela konfirmasi
            this.$swal({
                title: 'Kamu Yakin?',
                text: "Tindakan ini akan menghapus secara permanent!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Lanjutkan!',
                cancelButtonText: 'Batal'
            }).then((result) => {
                //jika disetujui akan ada value: true. jika di CANCEL akan menghasilkan dismiss: "cancel
                if(result.value){
                    //this.$store.dispatch('outlet/removeProduct', id) //jika tidak pakai helper mapActions, pakainya ini. dispatch berarti mengakses ke action
                    this.removeUser(id).then(() => this.makeToast('warning'))
                }
            })
        }
    },
    destroyed(){
        //menghapus state success di store.js saat form ini ditutup
        this.$store.commit('SET_SUCCESS', null) //mengakses mutations di root module
    },
    filters: {
        //nilai ini akan dikirmkan ke html yg memuat method formatDate
        formatDate(val){
            //memformat tanggal sesuai tanggal indonesia
            return moment(new Date(val)).format('DD-MM-YYYY')
        }
    }
}
</script>
