<template>
    <div class="row">
        <div class="col p-0">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <router-link :to="{ name: 'home' }" class="text-decoration-none">
                            Paket Umroh
                        </router-link>
                    </li>
                    <!-- $route.meta.title akan mengakses attribute meta.title dari route yang telah didefinisikan pada file router.js, sehingga value yang akan ditampilkan tergantung route yang sedang diakses. -->
                    <li class="breadcrumb-item active">
                        {{ $route.meta.title }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</template>
