<template>
<footer class="section-footer mt-5 mb-4 border-top">
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <h5>FEATURES</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Social Media Kit</a></li>
                            <li><a href="#">Affiliate</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3">
                        <h5>ACCOUNT</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Refund</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">Reward</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3">
                        <h5>COMPANY</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Media</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3">
                        <h5>GET CONNECTED</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Surakarta</a></li>
                            <li><a href="#">Indonesia</a></li>
                            <li><a href="#">0856 - 2222 - 8888</a></li>
                            <li><a href="#">support@umroh.id</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row border-top justify-content-center align-items-center pt-4">
            <div class="col-auto text-gray-500 font-weight-light">
                2021 Copyright Umroh. All right reserved
            </div>
        </div>
    </div>
</footer>
</template>
