<template>
    <div class="container">
    <nav class="row navbar navbar-expand-lg navbar-light bg-white" >
        <router-link :to="{ name: 'home' }" class="navbar-brand">
            <img src="/frontend/images/logo_umroh.png" alt="Logo Umroh">
        </router-link>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" >
            <span class="navbar-toggler-icon">

            </span>
        </button>
        <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav ml-auto mr-3">
                <li class="nav-item mx-md-2">
                    <router-link :to="{ name: 'home' }" class="nav-link" :class="{ 'active' : $route.path == '/'}">Home</router-link>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" :class="{ 'active' : $route.name == 'detail'}" id="navbardrop" data-toggle="dropdown">Paket Umroh</a>
                    <div class="dropdown-menu">
                        <tr v-for="(item, index) in umrohPackages" :key="index">
                            <a :href="'/detail/' + item.slug" class="dropdown-item">{{ item.title }}</a>
                        </tr>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Pembayaran</a>
                    <div class="dropdown-menu">
                        <router-link :to="{ name: 'bank' }" class="dropdown-item" :class="{ 'active' : $route.path == '/bank'}">Daftar Bank</router-link>
                        <router-link v-if="isAuth" :to="{ name: 'order' }" class="dropdown-item" :class="{ 'active' : $route.path == '/order'}">Konfirmasi Pembayaran</router-link>
                    </div>
                </li>
                <!-- <li class="nav-item mx-md-2">
                    <a href="#" class="nav-link">Testimonial</a>
                </li> -->
                <li class="nav-item mx-md-2" v-if="isAuth">
                    <router-link :to="{ name: 'order' }" class="nav-link" :class="{ 'active' : $route.path == '/order'}">Pesanan Saya</router-link>
                </li>
                <li class="nav-item dropdown" v-if="isAuth">
                    <a class="nav-link dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell-o d-inline-flex">
                            <small class="">
                                <!-- menghitung jumlah notifikasi yg ada -->
                                <sup class="d-inline-flex m-n2 badge badge-success">{{ notifications.length }}</sup>
                            </small>
                        </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right clearfix nav-notif" style="width: 250px;">
                        <li class="m-1 d-flex justify-content-start">
                            <small class="text-white">You have {{ notifications.length }} messages</small>
                        </li>
                        <div style="overflow-y: scroll; max-height: 230px;">
                            <b-list-group style="" v-if="notifications.length > 0">
                                <b-list-group-item v-for="(row, index) in notifications" :key="index" class="p-1">
                                    <a href="javascript:void(0)" @click="readNotif(row)" class="text-decoration-none text-dark">
                                        <div class="pull-left">
                                            <!-- menampilkan foto pengirim -->
                                            <i v-if="row.data.sender_photo">
                                                <img :src="'/storage/users/' + row.data.sender_photo" :width="50" :height="50" :alt="row.data.sender_name" class="rounded-circle">
                                            </i>
                                            <i v-else>
                                                <img :src="'/img/' + 'avatarDefault.png'" :width="50" :height="50" :alt="row.data.sender_name">
                                            </i>
                                        </div>
                                        <div>
                                            <h6 class="my-0">
                                                <!-- menampilkan nama pengirim -->
                                                {{ row.data.sender_name }}
                                            </h6>
                                            <!-- menampilkan waktu pesan dikirim dari sekarang -->
                                            <small class="text-secondary"><i class="fa fa-clock-o"></i> {{ row.created_at | formatDate }} </small>
                                            <p class="my-0" >{{ row.data.payment.amount | currency }}</p>
                                        </div>
                                    </a>
                                </b-list-group-item >
                            </b-list-group>
                        </div>
                    </div>
                </li>
            </ul>
            <div v-if="isAuth">
            <!-- jika sudah login -->
                <!-- mobile button -->
                <!-- d-sm-block => ketika tampilan layar sm(kecil) maka akan menampilkn block. d-md-none => ketika tampilan md(medium) maka tidak akan menampilkn form ini -->
                <form class="form-inline d-sm-block d-md-none" action="" method="">
                    <button class="btn btn-login my-2 my-sm-0" @click="logout">
                        Keluar
                    </button>
                </form>
                <!-- desktop button -->
                <!-- form diatur my-2 namun ketika tampilan layar jadi lg(large) maka my dijadikan 0. form tidak tampil, namun ketika tampilan mulai dari md(medium) maka block ditampilkn -->
                <form class="form-inline my-2 my-lg-0 d-none d-md-block" action="" method="">
                    <button class="btn btn-login btn-navbar-right my-2 my-sm-0 px-4" @click="logout">
                        Keluar
                    </button>
                </form>
            </div>
            <div v-else>
                <!-- mobile button -->
                <!-- d-sm-block => ketika tampilan layar sm(kecil) maka akan menampilkn block. d-md-none => ketika tampilan md(medium) maka tidak akan menampilkn form ini -->
                <form class="form-inline d-sm-block d-md-none">
                    <router-link :to="{ name: 'login' }" class="">
                        <button class="btn btn-login my-2 my-sm-0" type="button">Masuk</button>
                    </router-link>
                </form>
                <!-- desktop button -->
                <!-- form diatur my-2 namun ketika tampilan layar jadi lg(large) maka my dijadikan 0. form tidak tampil, namun ketika tampilan mulai dari md(medium) maka block ditampilkn -->
                <form class="form-inline my-2 my-lg-0 d-none d-md-block">
                    <router-link :to="{ name: 'login' }" class="">
                        <button class="btn btn-login btn-navbar-right my-2 my-sm-0 px-4" type="button">Masuk</button>
                    </router-link>
                </form>
            </div>           
        </div>
    </nav>
</div>
</template>
<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import moment from 'moment'
export default {
    created() {
        this.getUmrohPackages();
        // console.log(this.umrohPackages)
    },
    computed: {
        ...mapGetters(['isAuth']),
        ...mapState('home', {
            umrohPackages: state => state.umrohPackages
        }),
        ...mapState('notification', {
            notifications: state => state.notifications
        }),
    }, 
    filters: {
        formatDate(val){
            //mengubah waktu menjadi time ago
            return moment(new Date(val)).fromNow()
        }
    },
    methods: {
        ...mapActions('home', ['getUmrohPackages']),
        ...mapActions('notification', ['readNotification']),

        readNotif(row){
            // menandai bahwa notifikasi yg diklik sudah di read. 
            this.readNotification({ id: row.id })
            .then(() => {
                //membuka order
                this.$router.push({ name: 'order'})
            })
        },
        logout() {
            return new Promise((resolve, reject) => {
                localStorage.removeItem('token') //menghapus token di localstorage
                localStorage.removeItem('user')
                resolve()
            }).then(()=> {
                //Jika berhasil maka memperbarui state token
                this.$store.state.token = localStorage.getItem('token') //mengakses store.js untuk mengganti token local storage menjadi sesuai dg localstorage browser(saat logout) yaitu value ''
                this.$store.state.token = JSON.parse(localStorage.getItem('user'))
                this.$router.push('/login') //redirect ke page login
            })
        },
    }
}
</script>