<template>
<div class="container">
    <nav class="row navbar navbar-expand-lg navbar-light bg-white" >
        <div class="navbar-nav mr-auto ml-auto mr-sm-auto mr-lg-0 mr-md-auto">
            <router-link :to="{ name: 'home' }" class="navbar-brand">
                <img src="/frontend/images/logo_umroh.png" alt="Logo Umroh">
            </router-link>
        </div>
        <!-- d-none d-lg-block -> ketika layar mobile, tidak tampil. ketika layar large(lg) tampil -->
        <ul class="navbar-nav mr-auto d-none d-lg-block">
            <li>
                <span class="text-muted">
                    | &nbsp; Umroh mabrur dan menyenangkan
                </span>
            </li>
        </ul>
    </nav>
</div>
</template>