<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <router-link v-if="authenticated.roles == 0" :to="{ name: 'bank-account.add' }" class="btn btn-primary btn-sm">Tambah</router-link>
            </div>
            <div class="p-2">
                <input type="text" class="form-control" placeholder="Cari..." v-model="search">
            </div>
        </div>

        <div>
            <!-- :items="bankAccounts.data" mengambil dari computed mapState -->
            <!-- items berisi data user yg akan di render ke table, sedangakn fields akan menjadi nama header pd table -->
            <b-table hover :items="bankAccounts.data" :fields="fieldss" :tbody-transition-props="transProps" primary-key="index">
                <!-- template hanyalah optional saja untuk menginginkan tampilan sesuai yg diharapkan -->
                <!-- :fields="fields" menampilkan label, sedangkan v-slot:cell(image)="row" menampilkan key  -->
                <template v-slot:cell(index)="row">
                    {{ row.index + 1 }}
                </template>
                <template v-slot:cell(image)="row">
                    <!-- {{ row.item.image }} -->
                    <div v-if="row.item.image">
                        <img :src="'/storage/bank_accounts/' + row.item.image" :height="40" :alt="row.item.image">
                    </div>
                    <div v-else>
                        <img :src="'/img/' + 'avatarDefault.png'" :height="110" :alt="row.item.image">
                    </div>
                </template>
                <template v-slot:cell(actions)="row" v-if="authenticated.roles == 0">
                    <!-- utk edit pakai a href sesuai link dari router yg diberikan -->
                    <router-link :to="{ name: 'bank-account.edit', params: {id: row.item.id} }" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Edit rekening bank"><i class="fa fa-pencil"></i></router-link>
                    <!-- utk hapus pakai button -->
                    <!-- <button class="btn btn-danger btn-sm" @click="deleteBankAccount(row.item.id)" data-toggle="tooltip" data-placement="top" title="Hapus rekening bank"><i class="fa fa-trash"></i></button> -->
                </template>
            </b-table>
            <!-- pagination -->
            <div class="row">
                <div class="col-md-6">
                    <!-- "bankAccounts.data" mengambil dari computed mapState -->
                    <p v-if="bankAccounts.data">
                        <i class="fa fa-list-ul"></i> 
                        <!-- meta berasal dari backend, bagian pagination -->
                        {{ bankAccounts.data.length }} item dari {{ bankAccounts.meta.total }} total data
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <b-pagination
                        v-model="page"
                        :total-rows="bankAccounts.meta.total"
                        :per-page="bankAccounts.meta.per_page"
                        aria-controls="bankAccounts"
                        v-if="bankAccounts.data && bankAccounts.data.length > 0"
                        ></b-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
export default {
    name: 'DataBankAccount',
    created() {
        // sebelum component diload, request data dari server
        // this.$store.dispatch('bankAccount/getBankAccounts') //jika tidak pakai helper mapActions, pakainya ini
        // fungsi ini didapat dari methods mapActions('bankAccount', ['getBankAccounts', 'removeProducts'])
        this.getBankAccounts()
    },
    data() {
        return {
            fieldss: [
                { key: 'index', label: 'No.' }, //index is virtual column. doesn't exist in items
                { key: 'name', label: 'Nama Bank', sortable: true },
                { key: 'account_number', label: 'Nomor Rekening', sortable: false },
                { key: 'account_name', label: 'Nama Rekening Bank', sortable: false },
                { key: 'branch', label: 'Cabang', sortable: false },
                { key: 'image', label: 'Gambar', sortable: false },
                { key: 'actions', label: 'Aksi' } //actions is virtual column
            ],
            transProps: { name: 'flip-list' }, //nama transisi. memanggil class css di style.css
            search: ''
        }
    },
    computed: {
        ...mapState(['success']),
        ...mapState('bankAccount', { //memanggil state bankAccounts di product.js untuk menampilkan list bankAccounts
            bankAccounts: state => state.bankAccounts
        }),
        ...mapState('user', {
            authenticated: state => state.authenticated
        }),
        page: {//code page yg ini untuk mengubah nilai page yg diiinputkan oleh user
            get() {
                //mengambil value page di state bankAccount.js
                return this.$store.state.bankAccount.page //$store.state.namamodul.namastate
            },
            set(val) {
                //mengubah value page di mutation bankAccount.js apabila ada perubahan page di state bankAccount.js
                this.$store.commit('bankAccount/SET_PAGE', val)
            }
        }
    },
    watch: {
        page () { //code page yg ini untuk menampilkan ke user
            //jika value berubah maka akan meminta data dari server
            this.getBankAccounts()
        },
        search() {
            this.getBankAccounts(this.search)
        }
    },
    mounted(){
        this.makeToast('success') //menangkap notif success dari add dan update
    },
    methods: {
        ...mapActions('bankAccount', ['getBankAccounts', 'removeBankAccount']),
        makeToast(variantt = null) {
            if(this.success != null){
                this.$bvToast.toast(this.success.message, {
                    title: this.success.status,
                    variant: variantt,
                    solid: true,
                    autoHideDelay: 7000,
                })
            }
        },
        //ketika tombol hapus di klik, akan menjalankan perintah berikut
        deleteBankAccount(id){
            //menampilkan jendela konfirmasi
            this.$swal({
                title: 'Kamu Yakin?',
                text: "Tindakan ini akan menghapus secara permanent!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Lanjutkan!',
                cancelButtonText: 'Batal'
            }).then((result) => {
                //jika disetujui akan ada value: true. jika di CANCEL akan menghasilkan dismiss: "cancel
                if(result.value){
                    //this.$store.dispatch('outlet/removeProduct', id) //jika tidak pakai helper mapActions, pakainya ini. dispatch berarti mengakses ke action
                    this.removeBankAccount(id).then(() => this.makeToast('warning'))
                }
            })
        }
    },
    destroyed(){
        //menghapus state success di store.js saat form ini ditutup
        this.$store.commit('SET_SUCCESS', null) //mengakses mutations di root module
    }
}
</script>
