<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <h5>Edit Rekening Bank</h5>
            </div>
        </div>
        <div>
            <!-- form yg diload dari form.vue -->
            <bank-account-form></bank-account-form>
            <!-- tombol update untuk mengupdate data terbaru -->
            <div class="form-group">
                <button class="btn btn-primary btn-sm" @click.prevent="submit" :disabled="isLoading">
                    <span v-if="!isLoading" class="fa fa-save"> Update</span>
                    <div v-else-if="isLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import FormBankAccount from './Form.vue'
export default {
    name: 'EditBankAccount',
    created() {
        //editBankAccount() membutuhkan parameter id
        this.editBankAccount(this.$route.params.id)
    },
    computed: {
        ...mapState('bankAccount', {
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapActions('bankAccount', ['editBankAccount', 'updateBankAccount']),
        submit() {
            //updateBankAccount() membutuhkan parameter id
            this.updateBankAccount(this.$route.params.id)
            .then((res) => {
                this.$router.push({ name: 'bank-account.data' })
            })
        }
    },
    components: {
        'bank-account-form': FormBankAccount
    }   
}
</script>
