<template>
    <div>
        <div v-if="errors.message">
            <!-- :show="dismissCount" untuk mendefinisikan berapa detik waktu tampil. di data harus di set waktunya. misal dismissCount: 5 -->
            <b-alert dismissible fade variant="danger" show>
                {{ errors.message }}
            </b-alert>
        </div>
        <!-- class error untuk memberikan warna merah pada form jika ada error. error ini didapatkan dari laravel-->
        <div class="form-group">
            <label for="">Nama</label>
            <input type="text" class="form-control" v-model="bankAccount.name" :class="{ 'is-invalid': errors.name }" placeholder="Nama bank">
            <p class="text-danger" v-if="errors.name">{{ errors.name[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Nomor Rekening</label>
            <input type="text" class="form-control" v-model="bankAccount.account_number" :class="{ 'is-invalid': errors.account_number }" placeholder="Nomor rekening">
            <p class="text-danger" v-if="errors.account_number">{{ errors.account_number[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Nama Rekening</label>
            <input type="text" class="form-control" v-model="bankAccount.account_name" :class="{ 'is-invalid': errors.account_name }" placeholder="Nama rekening">
            <p class="text-danger" v-if="errors.account_name">{{ errors.account_name[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Cabang</label>
            <input type="text" class="form-control" v-model="bankAccount.branch" :class="{ 'is-invalid': errors.branch }" placeholder="Nama cabang">
            <p class="text-danger" v-if="errors.branch">{{ errors.branch[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Gambar</label>
            <input type="file" class="form-control" accept="image/*" @change="uploadImage($event)" :class="{ 'is-invalid': errors.image }">
            <small class="text-warning" v-if="$route.name == 'bank-account.edit'" >Biarkan kosong jika tidak ingin merubah gambar</small>
            <p class="text-danger" v-if="errors.image">{{ errors.image[0] }}</p>
        </div>
    </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
    name: 'FormBankAccount',
    created(){
        this.getUmrohPackageWithoutPage(); //atau this.$store.dispatch('umrohPackage/getUmrohPackageWithoutPage')
    },
    data(){
        return {
            
        }
    },
    computed: {
        ...mapState(['errors']),  //mengambil mapstate error dari
        ...mapState('bankAccount', {
            bankAccount: state => state.bankAccount //mengambil dan mengisi state bankAccount dari bankAccount.js
        }),
        ...mapState('umrohPackage', {
            umrohPackages: state => state.umrohPackages
        })
    },
    methods: {
        ...mapMutations('bankAccount', ['CLEAR_FORM']), //memanggil mutation CLEAR_FORM dari bankAccount.js utk keperluan fungsi destroyed()
        ...mapActions('umrohPackage', ['getUmrohPackageWithoutPage']),
        // jika ada penginputan gambar, maka file yg diinput akan di assign ke dalam bankAccount.image
        uploadImage(event){
            //mengakses fungsi state.operator di operator.js melalui computed diatas
            this.bankAccount.image = event.target.files[0]
        },
    },
    //ketika halaman form ditinggalkan
    destroyed() {
        //form dibersihkan
        this.CLEAR_FORM()
    }
}
</script>
