<template>
<div>
    <adm-header />
    <div class="content-wrapper">
        <div class="container">
            <!-- header -->
            <div class="row" style="padding: 8px 0 8px 0">
                <div class="col-6">
                    <h4>
                        Rekening Bank
                    </h4>
                </div>
                <div class="col-6">
                    <adm-breadcrumb></adm-breadcrumb>
                </div>
            </div>
            <!-- end header -->
            <!-- content -->
            <div class="col-md-12 bg-white mb-5">
                <div class="row">
                    <router-view></router-view>
                </div>
            </div>
            <!-- end content -->
        </div>
    </div>
</div>
</template>
<script>
import Header from '../../../components/admin/Header.vue'
import Breadcrumb from '../../../components/admin/Breadcrumb.vue'
export default {
    name: 'IndexBankAccount',
    components: {
        'adm-breadcrumb': Breadcrumb,
        'adm-header' : Header
    }
}
</script>
