<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <h5>Edit Paket Umroh</h5>
            </div>
        </div>
        <div>
            <!-- form yg diload dari form.vue -->
            <umroh-package-form></umroh-package-form>
            <!-- tombol update untuk mengupdate data terbaru -->
            <div class="form-group">
                <button class="btn btn-primary btn-sm" @click.prevent="submit" :disabled="isLoading">
                    <span v-if="!isLoading" class="fa fa-save"> Update</span>
                    <div v-else-if="isLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import FormUmrohPackage from './Form.vue'
export default {
    name: 'EditUmrohPackage',
    created() {
        //editUmrohPackage() membutuhkan parameter id
        this.editUmrohPackage(this.$route.params.id)
    },
    computed: {
        ...mapState('umrohPackage', {
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapActions('umrohPackage', ['editUmrohPackage', 'updateUmrohPackage']),
        submit() {
            //updateUmrohPackage() membutuhkan parameter id
            this.updateUmrohPackage(this.$route.params.id)
            .then((res) => {
                this.$router.push({ name: 'umroh-package.data' })
            })
        }
    },
    components: {
        'umroh-package-form': FormUmrohPackage
    }   
}
</script>
