<template>
    <div>
        <div v-if="errors.message">
            <!-- :show="dismissCount" untuk mendefinisikan berapa detik waktu tampil. di data harus di set waktunya. misal dismissCount: 5 -->
            <b-alert dismissible fade variant="danger" show>
                {{ errors.message }}
            </b-alert>
        </div>
        <!-- class error untuk memberikan warna merah pada form jika ada error. error ini didapatkan dari laravel-->
        <div class="form-group" > 
            <label for="" >Nama Paket Umroh</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': errors.title }" v-model="umrohPackage.title">
            <!-- untuk menampilkan error apa yg terjadi -->
            <p class="text-danger" v-if="errors.title">{{ errors.title[0]}}</p>
        </div>
        <div class="form-group">
            <label for="">Location</label>
            <input type="text" class="form-control" v-model="umrohPackage.location" :class="{ 'is-invalid': errors.location }">
            <p class="text-danger" v-if="errors.location">{{ errors.location[0] }}</p>
        </div>
        <div class="form-group"> 
            <label for="" >Deskripsi</label>
            <textarea cols="5" rows="2" class="form-control" v-model="umrohPackage.about" :class="{'is-invalid' : errors.about}"></textarea>
            <p class="text-danger" v-if="errors.about">{{ errors.about[0]}}</p>
        </div>
        <div class="form-group">
            <label for="">Event Spesial</label>
            <input type="text" class="form-control" v-model="umrohPackage.featured_event" :class="{ 'is-invalid': errors.featured_event }">
            <p class="text-danger" v-if="errors.featured_event">{{ errors.featured_event[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Makanan</label>
            <input type="text" class="form-control" v-model="umrohPackage.food" :class="{ 'is-invalid': errors.food }">
            <p class="text-danger" v-if="errors.food">{{ errors.food[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Keberangkatan</label>
            <input type="date" class="form-control" v-model="umrohPackage.departure_date" :class="{ 'is-invalid': errors.departure_date }">
            <p class="text-danger" v-if="errors.departure_date">{{ errors.departure_date[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Maskapai</label>
            <input type="text" class="form-control" v-model="umrohPackage.airline" :class="{ 'is-invalid': errors.airline }">
            <p class="text-danger" v-if="errors.airline">{{ errors.airline[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Hotel</label>
            <input type="text" class="form-control" v-model="umrohPackage.hotel" :class="{ 'is-invalid': errors.hotel }">
            <p class="text-danger" v-if="errors.hotel">{{ errors.hotel[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Waktu</label>
            <input type="text" class="form-control" v-model="umrohPackage.duration" :class="{ 'is-invalid': errors.duration }">
            <p class="text-danger" v-if="errors.duration">{{ errors.duration[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Harga</label>
            <input type="number" class="form-control" v-model="umrohPackage.price" :class="{ 'is-invalid': errors.price }">
            <p class="text-danger" v-if="errors.price">{{ errors.price[0] }}</p>
        </div>
        <div class="form-group">
            <label for="">Harga Visa</label>
            <input type="number" class="form-control" v-model="umrohPackage.visa" :class="{ 'is-invalid': errors.visa }">
            <p class="text-danger" v-if="errors.visa">{{ errors.visa[0] }}</p>
        </div>
        
    </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
    name: 'FormUmrohPackage',
    data(){
        return {
            
        }
    },
    computed: {
        ...mapState(['errors']),  //mengambil mapstate error dari
        ...mapState('umrohPackage', {
            umrohPackage: state => state.umrohPackage //mengambil dan mengisi state umrohPackage dari umrohPackage.js
        })
    },
    methods: {
        ...mapMutations('umrohPackage', ['CLEAR_FORM']), //memanggil mutation CLEAR_FORM dari umrohPackage.js utk keperluan fungsi destroyed()
    },
    //ketika halaman form ditinggalkan
    destroyed() {
        //form dibersihkan
        this.CLEAR_FORM()
    }
}
</script>
