<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <router-link :to="{ name: 'umroh-package.add' }" class="btn btn-primary btn-sm">Tambah</router-link>
            </div>
            <div class="p-2">
                <input type="text" class="form-control" placeholder="Cari..." v-model="search">
            </div>
        </div>
        

        <div>
            <!-- :items="umrohPackages.data" mengambil dari computed mapState -->
            <!-- items berisi data user yg akan di render ke table, sedangakn fields akan menjadi nama header pd table -->
            <b-table striped hover :items="umrohPackages.data" :fields="fieldss" :tbody-transition-props="transProps" primary-key="index">
                <!-- template hanyalah optional saja untuk menginginkan tampilan sesuai yg diharapkan -->
                <!-- :fields="fields" menampilkan label, sedangkan v-slot:cell(type)="row" menampilkan key  -->
                <template v-slot:cell(index)="row">
                    {{ row.index + 1 }}
                </template>
                <template v-slot:cell(title)="row">
                    {{ row.item.title }}
                </template>
                <template v-slot:cell(featured_event)="row">
                    {{ row.item.featured_event }}
                </template>
                <template v-slot:cell(departure_date)="row">
                    {{ row.item.departure_date | formatDate }}
                </template>
                <template v-slot:cell(duration)="row">
                    {{ row.item.duration }} hari
                </template>
                <template v-slot:cell(price)="row">
                    {{ row.item.price | currency }}
                </template>
                <template v-slot:cell(visa)="row">
                    {{ row.item.visa | currency }}
                </template>
                <template v-slot:cell(actions)="row">
                    <!-- utk edit pakai a href sesuai link dari router yg diberikan -->
                    <router-link :to="{ name: 'umroh-package.edit', params: {id: row.item.id} }" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Edit paket"><i class="fa fa-pencil"></i></router-link>
                    <!-- utk hapus pakai button -->
                    <button class="btn btn-danger btn-sm" @click="deleteUmrohPackage(row.item.id)" data-toggle="tooltip" data-placement="top" title="Hapus paket"><i class="fa fa-trash"></i></button>
                </template>
            </b-table>
            <!-- pagination -->
            <div class="row">
                <div class="col-md-6">
                    <!-- "umrohPackages.data" mengambil dari computed mapState -->
                    <p v-if="umrohPackages.data">
                        <i class="fa fa-list-ul"></i> 
                        <!-- meta berasal dari backend, bagian pagination -->
                        {{ umrohPackages.data.length }} item dari {{ umrohPackages.meta.total }} total data
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <b-pagination
                        v-model="page"
                        :total-rows="umrohPackages.meta.total"
                        :per-page="umrohPackages.meta.per_page"
                        aria-controls="umrohPackages"
                        v-if="umrohPackages.data && umrohPackages.data.length > 0"
                        ></b-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
import moment from 'moment'
export default {
    name: 'DataUmrohPackage',
    created() {
        // sebelum component diload, request data dari server
        // this.$store.dispatch('umrohPackage/getUmrohPackages') //jika tidak pakai helper mapActions, pakainya ini
        // fungsi ini didapat dari methods mapActions('umrohPackage', ['getUmrohPackages', 'removeProducts'])
        this.getUmrohPackages()
    },
    data() {
        return {
            fieldss: [
                { key: 'index', label: 'No.' }, //index is virtual column. doesn't exist in items
                { key: 'title', label: 'Judul', sortable: true },
                { key: 'airline', label: 'Maskapai', sortable: false },
                { key: 'hotel', label: 'Hotel', sortable: false },
                { key: 'featured_event', label: 'Event Spesial', sortable: false },
                { key: 'departure_date', label: 'Keberangkatan', sortable: true },
                { key: 'duration', label: 'Waktu', sortable: true },
                { key: 'price', label: 'Harga', sortable: true },
                { key: 'visa', label: 'Visa', sortable: false },
                { key: 'actions', label: 'Aksi' } //actions is virtual column
            ],
            transProps: { name: 'flip-list' }, //nama transisi. memanggil class css di style.css
            search: ''
        }
    },
    computed: {
        ...mapState(['success']),
        ...mapState('umrohPackage', { //memanggil state umrohPackages di product.js untuk menampilkan list umrohPackages
            umrohPackages: state => state.umrohPackages
        }),
        page: {//code page yg ini untuk mengubah nilai page yg diiinputkan oleh user
            get() {
                //mengambil value page di state umrohPackage.js
                return this.$store.state.umrohPackage.page //$store.state.namamodul.namastate
            },
            set(val) {
                //mengubah value page di mutation umrohPackage.js apabila ada perubahan page di state product.js
                this.$store.commit('umrohPackage/SET_PAGE', val)
            }
        }
    },
    watch: {
        page () { //code page yg ini untuk menampilkan ke user
            //jika value berubah maka akan meminta data dari server
            this.getUmrohPackages()
        },
        search() {
            this.getUmrohPackages(this.search)
        }
    },
    mounted(){
        this.makeToast('success') //menangkap notif success dari add dan update
    },
    methods: {
        ...mapActions('umrohPackage', ['getUmrohPackages', 'removeUmrohPackage']),
        makeToast(variantt = null) {
            if(this.success != null){
                this.$bvToast.toast(this.success.message, {
                    title: this.success.status,
                    variant: variantt,
                    solid: true,
                    autoHideDelay: 7000,
                })
            }
        },
        //ketika tombol hapus di klik, akan menjalankan perintah berikut
        deleteUmrohPackage(id){
            //menampilkan jendela konfirmasi
            this.$swal({
                title: 'Kamu Yakin?',
                text: "Tindakan ini akan menghapus secara permanent!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Lanjutkan!',
                cancelButtonText: 'Batal'
            }).then((result) => {
                //jika disetujui akan ada value: true. jika di CANCEL akan menghasilkan dismiss: "cancel
                if(result.value){
                    //this.$store.dispatch('outlet/removeProduct', id) //jika tidak pakai helper mapActions, pakainya ini. dispatch berarti mengakses ke action
                    this.removeUmrohPackage(id).then(() => this.makeToast('warning'))
                }
            })
        }
    },
    destroyed(){
        //menghapus state success di store.js saat form ini ditutup
        this.$store.commit('SET_SUCCESS', null) //mengakses mutations di root module
    },
    filters: {
        //nilai ini akan dikirmkan ke html yg memuat method formatDate
        formatDate(val){
            //memformat tanggal sesuai tanggal indonesia
            return moment(new Date(val)).format('DD-MM-YYYY')
        }
    }
}
</script>
