<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <h5>Edit Galeri</h5>
            </div>
        </div>
        <div>
            <!-- form yg diload dari form.vue -->
            <gallery-form></gallery-form>
            <!-- tombol update untuk mengupdate data terbaru -->
            <div class="form-group">
                <button class="btn btn-primary btn-sm" @click.prevent="submit" :disabled="isLoading">
                    <span v-if="!isLoading" class="fa fa-save"> Update</span>
                    <div v-else-if="isLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import FormGallery from './Form.vue'
export default {
    name: 'EditGallery',
    created() {
        //editGallery() membutuhkan parameter id
        this.editGallery(this.$route.params.id)
    },
    computed: {
        ...mapState('gallery', {
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapActions('gallery', ['editGallery', 'updateGallery']),
        submit() {
            //updateGallery() membutuhkan parameter id
            this.updateGallery(this.$route.params.id)
            .then((res) => {
                this.$router.push({ name: 'gallery.data' })
            })
        }
    },
    components: {
        'gallery-form': FormGallery
    }   
}
</script>
