<template>
    <div>
        <div v-if="errors.message">
            <!-- :show="dismissCount" untuk mendefinisikan berapa detik waktu tampil. di data harus di set waktunya. misal dismissCount: 5 -->
            <b-alert dismissible fade variant="danger" show>
                {{ errors.message }}
            </b-alert>
        </div>
        <!-- class error untuk memberikan warna merah pada form jika ada error. error ini didapatkan dari laravel-->
        <div class="form-group" > 
            <label for="" >Nama Paket Umroh</label>
            <select name="" class="form-control" v-model="gallery.umroh_package_id" :class="{ 'is-invalid': errors.umroh_package_id }">
                <option value="">-- Pilih --</option>
                <option v-for="(row, index) in umrohPackages.data" :value="row.id" :key="index">{{ row.title }}</option>
            </select>
            <!-- untuk menampilkan error apa yg terjadi -->
            <p class="text-danger" v-if="errors.umroh_package_id">{{ errors.umroh_package_id[0]}}</p>
        </div>
        <div class="form-group">
            <label for="">Gambar</label>
            <input type="file" class="form-control" accept="image/*" @change="uploadImage($event)" :class="{ 'is-invalid': errors.image }">
            <small class="text-warning" v-if="$route.name == 'gallery.edit'" >Biarkan kosong jika tidak ingin merubah gambar</small>
            <p class="text-danger" v-if="errors.image">{{ errors.image[0] }}</p>
        </div>
    </div>
</template>
<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
    name: 'FormGallery',
    created(){
        this.getUmrohPackageWithoutPage(); //atau this.$store.dispatch('umrohPackage/getUmrohPackageWithoutPage')
    },
    data(){
        return {
            
        }
    },
    computed: {
        ...mapState(['errors']),  //mengambil mapstate error dari
        ...mapState('gallery', {
            gallery: state => state.gallery //mengambil dan mengisi state gallery dari gallery.js
        }),
        ...mapState('umrohPackage', {
            umrohPackages: state => state.umrohPackages
        })
    },
    methods: {
        ...mapMutations('gallery', ['CLEAR_FORM']), //memanggil mutation CLEAR_FORM dari gallery.js utk keperluan fungsi destroyed()
        ...mapActions('umrohPackage', ['getUmrohPackageWithoutPage']),
        // jika ada penginputan gambar, maka file yg diinput akan di assign ke dalam gallery.image
        uploadImage(event){
            //mengakses fungsi state.operator di operator.js melalui computed diatas
            this.gallery.image = event.target.files[0]
        },
    },
    //ketika halaman form ditinggalkan
    destroyed() {
        //form dibersihkan
        this.CLEAR_FORM()
    }
}
</script>
