<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <router-link :to="{ name: 'gallery.add' }" class="btn btn-primary btn-sm">Tambah</router-link>
            </div>
            <div class="p-2">
                <input type="text" class="form-control" placeholder="Cari..." v-model="search">
            </div>
        </div>

        <div>
            <!-- :items="galleries.data" mengambil dari computed mapState -->
            <!-- items berisi data user yg akan di render ke table, sedangakn fields akan menjadi nama header pd table -->
            <b-table hover :items="galleries.data" :fields="fieldss" :tbody-transition-props="transProps" primary-key="index">
                <!-- template hanyalah optional saja untuk menginginkan tampilan sesuai yg diharapkan -->
                <!-- :fields="fields" menampilkan label, sedangkan v-slot:cell(image)="row" menampilkan key  -->
                <template v-slot:cell(index)="row">
                    {{ row.index + 1 }}
                </template>
                <template v-slot:cell(umroh_package)="row">
                    {{ row.item.umroh_package.title }}
                </template>
                <template v-slot:cell(image)="row">
                    <!-- {{ row.item.image }} -->
                    <div v-if="row.item.image">
                        <a :href="'/storage/galleries/' + row.item.image" data-fancybox data-height="500" data-small-btn="false">
                            <img :src="'/storage/galleries/' + row.item.image" :height="110" :alt="row.item.image">
                        </a>
                    </div>
                    <div v-else>
                        <img :src="'/img/' + 'avatarDefault.png'" :height="110" :alt="row.item.image">
                    </div>
                </template>
                <template v-slot:cell(actions)="row">
                    <!-- utk edit pakai a href sesuai link dari router yg diberikan -->
                    <router-link :to="{ name: 'gallery.edit', params: {id: row.item.id} }" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Edit galeri"><i class="fa fa-pencil"></i></router-link>
                    <!-- utk hapus pakai button -->
                    <button class="btn btn-danger btn-sm" @click="deleteGallery(row.item.id)" data-toggle="tooltip" data-placement="top" title="Hapus galeri"><i class="fa fa-trash"></i></button>
                </template>
            </b-table>
            <!-- pagination -->
            <div class="row">
                <div class="col-md-6">
                    <!-- "galleries.data" mengambil dari computed mapState -->
                    <p v-if="galleries.data">
                        <i class="fa fa-list-ul"></i> 
                        <!-- meta berasal dari backend, bagian pagination -->
                        {{ galleries.data.length }} item dari {{ galleries.meta.total }} total data
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <b-pagination
                        v-model="page"
                        :total-rows="galleries.meta.total"
                        :per-page="galleries.meta.per_page"
                        aria-controls="galleries"
                        v-if="galleries.data && galleries.data.length > 0"
                        ></b-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
export default {
    name: 'DataGallery',
    created() {
        // sebelum component diload, request data dari server
        // this.$store.dispatch('gallery/getGalleries') //jika tidak pakai helper mapActions, pakainya ini
        // fungsi ini didapat dari methods mapActions('gallery', ['getGalleries', 'removeProducts'])
        this.getGalleries()
    },
    data() {
        return {
            fieldss: [
                { key: 'index', label: 'No.' }, //index is virtual column. doesn't exist in items
                { key: 'umroh_package', label: 'Paket Umroh', sortable: true },
                { key: 'image', label: 'Gambar', sortable: false },
                { key: 'actions', label: 'Aksi' } //actions is virtual column
            ],
            transProps: { name: 'flip-list' }, //nama transisi. memanggil class css di style.css
            search: ''
        }
    },
    computed: {
        ...mapState(['success']),
        ...mapState('gallery', { //memanggil state galleries di product.js untuk menampilkan list galleries
            galleries: state => state.galleries
        }),
        page: {//code page yg ini untuk mengubah nilai page yg diiinputkan oleh user
            get() {
                //mengambil value page di state gallery.js
                return this.$store.state.gallery.page //$store.state.namamodul.namastate
            },
            set(val) {
                //mengubah value page di mutation gallery.js apabila ada perubahan page di state gallery.js
                this.$store.commit('gallery/SET_PAGE', val)
            }
        }
    },
    watch: {
        page () { //code page yg ini untuk menampilkan ke user
            //jika value berubah maka akan meminta data dari server
            this.getGalleries()
        },
        search() {
            this.getGalleries(this.search)
        }
    },
    mounted(){
        this.makeToast('success') //menangkap notif success dari add dan update
    },
    methods: {
        ...mapActions('gallery', ['getGalleries', 'removeGallery']),
        makeToast(variantt = null) {
            if(this.success != null){
                this.$bvToast.toast(this.success.message, {
                    title: this.success.status,
                    variant: variantt,
                    solid: true,
                    autoHideDelay: 7000,
                })
            }
        },
        //ketika tombol hapus di klik, akan menjalankan perintah berikut
        deleteGallery(id){
            //menampilkan jendela konfirmasi
            this.$swal({
                title: 'Kamu Yakin?',
                text: "Tindakan ini akan menghapus secara permanent!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Lanjutkan!',
                cancelButtonText: 'Batal'
            }).then((result) => {
                //jika disetujui akan ada value: true. jika di CANCEL akan menghasilkan dismiss: "cancel
                if(result.value){
                    //this.$store.dispatch('outlet/removeProduct', id) //jika tidak pakai helper mapActions, pakainya ini. dispatch berarti mengakses ke action
                    this.removeGallery(id).then(() => this.makeToast('warning'))
                }
            })
        },
        open (e) {
            fancyBox(e.target, this.imageList);
        }
    },
    destroyed(){
        //menghapus state success di store.js saat form ini ditutup
        this.$store.commit('SET_SUCCESS', null) //mengakses mutations di root module
    },
}
</script>
