<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <h5>Konfirmasi Pembayaran</h5>
            </div>
        </div>
        <div>
            <!-- form yg diload dari form.vue -->
            <payment-form></payment-form>
            <!-- tombol add untuk menambahkan -->
            <div class="form-group">
                <button class="btn btn-primary btn-sm" @click.prevent="submit" :disabled="isLoading">
                    <span v-if="!isLoading" class="fa fa-save"> Simpan</span>
                    <div v-else-if="isLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import FormPayment from './Form.vue'
export default {
    name: 'AddPayment',
    computed: {
        ...mapState('payment', {
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapActions('payment', ['submitPayment']), //panggil submitPayment di payment.js
        ...mapActions('notification', ['getNotifications']),
        submit(){
            this.submitPayment(this.$route.params.id)
            .then(() => {
                //jika berhasil panggil notification dan redirect ke list payment
                this.getNotifications();
                this.$router.push({ name: 'transaction.data'})
            })
        }
    },
    components: {
        'payment-form': FormPayment
    }
}
</script>
