<template>
    <div class="col-12">
        <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1"></div>
            <div class="p-2">
                <select v-model="filter_is_valid" class="form-control">
                    <option value="semua">Semua</option>
                    <option value="pending">Pending</option>
                    <option value="valid">Valid</option>
                    <option value="not_valid">Tidak Valid</option>
                </select>
            </div>
            <div class="p-2">
                <input type="text" class="form-control" placeholder="Cari..." v-model="search">
            </div>
        </div>

        <div>
            <!-- :items="payments.data" mengambil dari computed mapState -->
            <!-- items berisi data user yg akan di render ke table, sedangakn fields akan menjadi nama header pd table -->
            <b-table hover :items="payments.data" :fields="fieldss" :tbody-transition-props="transProps" primary-key="index">
                <!-- template hanyalah optional saja untuk menginginkan tampilan sesuai yg diharapkan -->
                <!-- :fields="fields" menampilkan label, sedangkan v-slot:cell(image)="row" menampilkan key  -->
                <template v-slot:cell(index)="row">
                    {{ row.index + 1 }}
                </template>
                <template v-slot:cell(user)="row">
                    {{ row.item.user.name }}
                    <br>
                    <small>{{ row.item.user.address }}</small>
                    <br>
                    <small>{{ row.item.user.phone }}</small>
                </template>
                <template v-slot:cell(transaction)="row">
                    {{ row.item.transaction.umroh_package.title }}
                    <br>
                    <small>Tagihan: {{ row.item.transaction.total | currency }}</small>
                    <br>
                    <small>{{ row.item.transaction.transaction_details.length }} orang</small>
                </template>
                <template v-slot:cell(amount)="row">
                    {{ row.item.amount | currency }}
                </template>
                <template v-slot:cell(type)="row">
                    <span class="badge badge-info" v-if="row.item.type == 'transfer'">Transfer</span>
                    <span class="badge badge-primary" v-else-if="row.item.type == 'cash'">Tunai</span>
                </template>
                <template v-slot:cell(bank_account)="row">
                    <span v-if="row.item.bank_account">{{ row.item.bank_account.name }}</span>
                    <span v-else>Tunai</span>
                </template>
                <template v-slot:cell(date)="row">
                    {{ row.item.date | formatDate }}
                </template>
                <template v-slot:cell(is_valid)="row">
                    <span class="badge badge-warning" v-if="row.item.is_valid == 'pending'">Pending</span>
                    <span class="badge badge-success" v-else-if="row.item.is_valid == 'valid'">Valid</span>
                    <span class="badge badge-dark" v-else-if="row.item.is_valid == 'not_valid' ">Tidak Valid</span>
                </template>
                <!-- <template v-slot:cell(image)="row">
                    <div v-if="row.item.image">
                        <img :src="'/storage/payments/' + row.item.image" :height="110" :alt="row.item.image">
                    </div>
                    <div v-else>
                        <img :src="'/img/' + 'avatarDefault.png'" :height="110" :alt="row.item.image">
                    </div>
                </template> -->
                <template v-slot:cell(actions)="row">
                    <!-- utk edit pakai a href sesuai link dari router yg diberikan -->
                    <router-link :to="{ name: 'payment.view', params: {id: row.item.id} }" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Edit pembayaran"><i class="fa fa-eye"></i></router-link>
                </template>
            </b-table>
            <!-- pagination -->
            <div class="row">
                <div class="col-md-6">
                    <!-- "payments.data" mengambil dari computed mapState -->
                    <p v-if="payments.data">
                        <i class="fa fa-list-ul"></i> 
                        <!-- meta berasal dari backend, bagian pagination -->
                        {{ payments.data.length }} item dari {{ payments.meta.total }} total data
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <b-pagination
                        v-model="page"
                        :total-rows="payments.meta.total"
                        :per-page="payments.meta.per_page"
                        aria-controls="payments"
                        v-if="payments.data && payments.data.length > 0"
                        ></b-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
import moment from 'moment'
export default {
    name: 'DataPayment',
    created() {
        // sebelum component diload, request data dari server
        // this.$store.dispatch('payment/getPayments') //jika tidak pakai helper mapActions, pakainya ini
        // fungsi ini didapat dari methods mapActions('payment', ['getPayments', 'removeProducts'])
        this.getPayments({
            search: this.search,
            is_valid: this.filter_is_valid
        })
    },
    data() {
        return {
            fieldss: [
                { key: 'index', label: 'No.' }, //index is virtual column. doesn't exist in items
                { key: 'user', label: 'User', sortable: false },
                { key: 'transaction', label: 'Transaksi', sortable: true },
                { key: 'amount', label: 'Jumlah', sortable: false },
                { key: 'type', label: 'Metode', sortable: false },
                { key: 'bank_account', label: 'Nama Rekening', sortable: false },
                { key: 'date', label: 'Tanggal', sortable: false },
                { key: 'is_valid', label: 'Status', sortable: false },
                { key: 'actions', label: 'Aksi' } //actions is virtual column
            ],
            transProps: { name: 'flip-list' }, //nama transisi. memanggil class css di style.css
            search: '',
            filter_is_valid: 'semua'
        }
    },
    computed: {
        ...mapState(['success']),
        ...mapState('payment', { //memanggil state payments di product.js untuk menampilkan list payments
            payments: state => state.payments
        }),
        page: {//code page yg ini untuk mengubah nilai page yg diiinputkan oleh user
            get() {
                //mengambil value page di state payment.js
                return this.$store.state.payment.page //$store.state.namamodul.namastate
            },
            set(val) {
                //mengubah value page di mutation payment.js apabila ada perubahan page di state payment.js
                this.$store.commit('payment/SET_PAGE', val)
            }
        }
    },
    watch: {
        page () { //code page yg ini untuk menampilkan ke user
            //jika value berubah maka akan meminta data dari server
            this.getPayments({
                search: this.search,
                is_valid: this.filter_is_valid
            })
        },
        search() {
            this.getPayments({
                search: this.search,
                is_valid: this.filter_is_valid
            })
        },
        //jika filter_is_valid di data() berubah
        filter_is_valid(){
            this.getPayments({
                search: this.search,
                is_valid: this.filter_is_valid
            })
        }
    },
    mounted(){
        this.makeToast('success') //menangkap notif success dari add dan update
    },
    methods: {
        ...mapActions('payment', ['getPayments', 'removePayment']),
        makeToast(variantt = null) {
            if(this.success != null){
                this.$bvToast.toast(this.success.message, {
                    title: this.success.status,
                    variant: variantt,
                    solid: true,
                    autoHideDelay: 7000,
                })
            }
        },
        //ketika tombol hapus di klik, akan menjalankan perintah berikut
        deletePayment(id){
            //menampilkan jendela konfirmasi
            this.$swal({
                title: 'Kamu Yakin?',
                text: "Tindakan ini akan menghapus secara permanent!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Lanjutkan!',
                cancelButtonText: 'Batal'
            }).then((result) => {
                //jika disetujui akan ada value: true. jika di CANCEL akan menghasilkan dismiss: "cancel
                if(result.value){
                    //this.$store.dispatch('outlet/removeProduct', id) //jika tidak pakai helper mapActions, pakainya ini. dispatch berarti mengakses ke action
                    this.removePayment(id).then(() => this.makeToast('warning'))
                }
            })
        }
    },
    filters: {
        //nilai ini akan dikirmkan ke html yg memuat method formatDate
        formatDate(val){
            //memformat tanggal sesuai tanggal indonesia
            return moment(new Date(val)).format('DD-MM-YYYY')
        }
    },
    destroyed(){
        //menghapus state success di store.js saat form ini ditutup
        this.$store.commit('SET_SUCCESS', null) //mengakses mutations di root module
    }
}
</script>
