<template>
    <div class="col-12">
        <!-- <div class="d-flex mb-3 mt-1">
            <div class="p-2 flex-grow-1">
                <h5>Detail Pembayaran</h5>
            </div>
        </div> -->
        <div class="row mt-4 px-4">
            <div class="col-md-6">
                <!-- menampilkan data customer -->
                <h4>Informasi Customer</h4>
                <hr>
                <div>
                    <!-- ditambahkan [], karena :items merender array. sedangkan data dari orders.customer bentuknya object -->
                    <!-- v-if supaya tidak error ketika belum terbentuk, namun b-table sudah merender -->
                    <b-table stacked small responsive="sm" :items="[payment]" :fields="fieldss" v-if="payment.transaction">
                        <template v-slot:cell(user)="row">
                            {{ row.item.user.name }}
                            <br>
                            <small>{{ row.item.user.address }}</small>
                            <br>
                            <small>{{ row.item.user.phone }}</small>
                        </template>
                        <template v-slot:cell(transaction)="row">
                            {{ row.item.transaction.umroh_package.title }}
                            <br>
                            <small>Tagihan: {{ row.item.transaction.total | currency }}</small>
                            <br>
                            <small>{{ row.item.transaction.transaction_details.length }} orang</small>
                        </template>
                        <template v-slot:cell(amount)="row">
                            {{ row.item.amount | currency }}
                        </template>
                        <template v-slot:cell(type)="row">
                            <span class="badge badge-info" v-if="row.item.type == 'transfer'">Transfer</span>
                            <span class="badge badge-primary" v-else-if="row.item.type == 'cash'">Tunai</span>
                        </template>
                        <template v-slot:cell(bank_account)="row" v-if="payment.bank_account">
                            {{ row.item.bank_account.name }}
                        </template>
                        <template v-slot:cell(date)="row">
                            {{ row.item.date | formatDate }}
                        </template>
                        <template v-slot:cell(is_valid)="row">
                            <span class="badge badge-warning" v-if="row.item.is_valid == 'pending'">Pending</span>
                            <span class="badge badge-success" v-else-if="row.item.is_valid == 'valid'">Valid</span>
                            <span class="badge badge-dark" v-else-if="row.item.is_valid == 'not_valid' ">Tidak Valid</span>
                        </template>
                    </b-table>
                </div>
            </div>
            <div class="col-md-6">
                <!-- menampilkan riwayat order tersebut -->
                <div>
                    <h4>Bukti Pembayaran</h4>
                    <hr>
                    <div class="text-center">
                        <div v-if="payment.photo != ''">
                            <!-- <img :src="'/storage/payments/' + payment.photo" class="maxHeightImg maxWidthImg" :alt="payment.photo"> -->
                            <a :href="'/storage/payments/' + payment.photo" data-fancybox data-height="500" data-small-btn="false">
                            <img :src="'/storage/payments/' + payment.photo" class="maxHeightImg maxWidthImg" :alt="payment.photo">
                        </a>
                        </div>
                        <div v-else>
                            <img :src="'/img/' + 'avatarDefault.png'" :height="110">
                        </div>
                    </div>
                    <!-- ditambahkan [], karena :items merender array. sedangkan data dari order.customer bentuknya object -->
                    <!-- <b-table stacked small responsive="sm" :items="[order.payment]" :fields="fieldPayment">
                        <template v-slot:cell(amount)="row">
                            {{ row.item.amount | currency }}
                        </template>
                        <template v-slot:cell(customer_change)="row">
                            {{ row.item.customer_change | currency }}
                        </template>
                        <template v-slot:cell(type)="row">
                            <span v-if="row.item.type == 0">Cash</span>
                            <span v-else-if="row.item.type == 1">Deposite</span>
                            <span v-else-if="row.item.type == 2">Cash + Deposite</span>
                        </template>
                    </b-table> -->
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div class="form-group" v-if="payment.is_valid == 'pending'">
                <button class="btn btn-primary btn-sm" @click.prevent="valid" :disabled="isLoading">
                    <span v-if="!isLoading" class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Set valid"> Valid</span>
                    <div v-else-if="isLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                    </div>
                </button>
                <button class="btn btn-danger btn-sm" @click.prevent="notValid">
                    <span v-if="!isLoading" class="fa fa-remove" data-toggle="tooltip" data-placement="top" title="Set tidak valid"> Tidak valid</span>
                    <div v-else-if="isLoading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                    </div>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import moment from 'moment'
export default {
    name: 'ViewPayment',
    created() {
        this.viewPayment(this.$route.params.id).then() //memakai view payment untuk menampilkan data
    },
    data() {
        return {
            fieldss: [
                { key: 'user', label: 'Customer', sortable: false },
                { key: 'transaction', label: 'Transaksi', sortable: true },
                { key: 'amount', label: 'Jumlah', sortable: false },
                { key: 'type', label: 'Metode', sortable: false },
                { key: 'bank_account', label: 'Nama Rekening', sortable: false },
                { key: 'date', label: 'Tanggal', sortable: false },
                { key: 'is_valid', label: 'Status', sortable: false },
            ],
        }
    },
    computed: {
        ...mapState(['errors']),
        ...mapState('payment', {
            payment: state => state.payment,
            isLoading: state => state.isLoading
        })
    },
    methods: {
        ...mapActions('payment', ['getPayments', 'viewPayment', 'setValid', 'setInvalid']),
        valid(){
            this.$swal({
                title: 'Yakin Data Valid?',
                text: "Pembayaran akan diterima",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Valid!'
            }).then((result) => {
                if(result.value){
                    this.setValid(this.$route.params.id)
                    .then((res) => {
                        this.$router.push({ name: 'payment.data' })
                    })
                }
            })
        },
        not_valid(){
            this.$swal({
                title: 'Yakin Data Tidak Valid?',
                text: "Pembayaran akan ditolak",
                icon: 'danger',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Iya, Tidak Valid!'
            }).then((result) => {
                if(result.value){
                    this.setInValid(this.$route.params.id)
                    .then((res) => {
                        this.$router.push({ name: 'payment.data' })
                    })
                }
            })
        },

    },
    filters: {
        //nilai ini akan dikirmkan ke html yg memuat method formatDate
        formatDate(val){
            //memformat tanggal sesuai tanggal indonesia
            return moment(new Date(val)).format('DD-MM-YYYY')
        }
    }
}
</script>
